# Data Analysis of WeRateDogs Twitter archive

In [1]:
import pandas as pd
import requests
import os
import tweepy
import json
import time
import numpy as np

### Data Gathering

In [2]:
#Download 'twitter-archive-enhanced.csv' manually and read to check if it was gathered successfuully.
twitter_arch = pd.read_csv('twitter-archive-enhanced.csv')
twitter_arch.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [3]:
#Creates folder 'WeRateDogs' if it doesn't exist already.
#folder_name = 'WeRateDogs'
#if not os.path.exists(folder_name):
#    os.makedirs(folder_name)

In [4]:
#This creates
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
with open(os.path.join(url.split('/')[-1]),mode='wb') as infile:
          infile.write(response.content)

In [4]:
image_df = pd.read_csv('image-predictions.tsv',sep='\t')
image_df.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [5]:
image_df.img_num.value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

In [6]:
twitter_arch.shape

(2356, 17)

In [7]:
image_df.shape

(2075, 12)

In [8]:
consumer_key = '********'
consumer_secret = '********'
access_token = '********'
access_secret = '********'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth,wait_on_rate_limit=True,wait_on_rate_limit_notify=True)

In [41]:
tweet_json_col = 'id' + ' ' + 'retweet_count' + ' ' + 'favorite_count'
with open(os.path.join('tweet_json.csv'),mode='w') as infile:
    infile.write(tweet_json_col)
    infile.write('\n')

In [42]:
def gather(tw):
    tweet = api.get_status(twitter_arch.tweet_id[tw],tweet_mode='extended')
    tw_id = str(tweet._json['id'])
    retweet = str(tweet._json['retweet_count'])
    fav = str(tweet._json['favorite_count'])
    json_tweet = tw_id + " " + retweet + " " + fav
    print('{} of 2356 tweet ids queried'.format(tw+1))
    with open(os.path.join('tweet_json.csv'),mode='a') as outfile:
        outfile.write(json_tweet)
        outfile.write('\n') 
    
cnt = 0
missing = list()
start=time.time()

for tw in range(len(twitter_arch.tweet_id)):
    try:
        gather(tw)
    except:
        print('{} was not found'.format(tw))
        missing.append(twitter_arch.tweet_id[tw])
        
end=time.time()
print('Total time elapsed:{}'.format(start-end))

1 of 2356 tweet ids queried
2 of 2356 tweet ids queried
3 of 2356 tweet ids queried
4 of 2356 tweet ids queried
5 of 2356 tweet ids queried
6 of 2356 tweet ids queried
7 of 2356 tweet ids queried
8 of 2356 tweet ids queried
9 of 2356 tweet ids queried
10 of 2356 tweet ids queried
11 of 2356 tweet ids queried
12 of 2356 tweet ids queried
13 of 2356 tweet ids queried
14 of 2356 tweet ids queried
15 of 2356 tweet ids queried
16 of 2356 tweet ids queried
17 of 2356 tweet ids queried
18 of 2356 tweet ids queried
19 of 2356 tweet ids queried
19 was not found
21 of 2356 tweet ids queried
22 of 2356 tweet ids queried
23 of 2356 tweet ids queried
24 of 2356 tweet ids queried
25 of 2356 tweet ids queried
26 of 2356 tweet ids queried
27 of 2356 tweet ids queried
28 of 2356 tweet ids queried
29 of 2356 tweet ids queried
30 of 2356 tweet ids queried
31 of 2356 tweet ids queried
32 of 2356 tweet ids queried
33 of 2356 tweet ids queried
34 of 2356 tweet ids queried
35 of 2356 tweet ids queried
36 of 2356 tweet ids queried
37 of 2356 tweet ids queried
38 of 2356 tweet ids queried
39 of 2356 tweet ids queried
40 of 2356 tweet ids queried
41 of 2356 tweet ids queried
42 of 2356 tweet ids queried
43 of 2356 tweet ids queried
44 of 2356 tweet ids queried
45 of 2356 tweet ids queried
46 of 2356 tweet ids queried
47 of 2356 tweet ids queried
48 of 2356 tweet ids queried
49 of 2356 tweet ids queried
50 of 2356 tweet ids queried
51 of 2356 tweet ids queried
52 of 2356 tweet ids queried
53 of 2356 tweet ids queried
54 of 2356 tweet ids queried
55 of 2356 tweet ids queried
56 of 2356 tweet ids queried
57 of 2356 tweet ids queried
58 of 2356 tweet ids queried
59 of 2356 tweet ids queried
60 of 2356 tweet ids queried
61 of 2356 tweet ids queried
62 of 2356 tweet ids queried
63 of 2356 tweet ids queried
64 of 2356 tweet ids queried
65 of 2356 tweet ids queried
66 of 2356 tweet ids queried
67 of 2356 tweet ids queried
68 of 2356 tweet ids queried
69 of 2356 tweet ids queried
70 of 2356 tweet ids queried
71 of 2356 tweet ids queried
72 of 2356 tweet ids queried
73 of 2356 tweet ids queried
74 of 2356 tweet ids queried
75 of 2356 tweet ids queried
76 of 2356 tweet ids queried
77 of 2356 tweet ids queried
78 of 2356 tweet ids queried
79 of 2356 tweet ids queried
80 of 2356 tweet ids queried
81 of 2356 tweet ids queried
82 of 2356 tweet ids queried
83 of 2356 tweet ids queried
84 of 2356 tweet ids queried
85 of 2356 tweet ids queried
86 of 2356 tweet ids queried
87 of 2356 tweet ids queried
88 of 2356 tweet ids queried
89 of 2356 tweet ids queried
90 of 2356 tweet ids queried
91 of 2356 tweet ids queried
92 of 2356 tweet ids queried
93 of 2356 tweet ids queried
94 of 2356 tweet ids queried
95 of 2356 tweet ids queried
95 was not found
97 of 2356 tweet ids queried
98 of 2356 tweet ids queried
99 of 2356 tweet ids queried
100 of 2356 tweet ids queried
101 of 2356 tweet ids queried
101 was not found
103 of 2356 tweet ids queried
104 of 2356 tweet ids queried
104 was not found
106 of 2356 tweet ids queried
107 of 2356 tweet ids queried
108 of 2356 tweet ids queried
109 of 2356 tweet ids queried
110 of 2356 tweet ids queried
111 of 2356 tweet ids queried
112 of 2356 tweet ids queried
113 of 2356 tweet ids queried
114 of 2356 tweet ids queried
115 of 2356 tweet ids queried
116 of 2356 tweet ids queried
117 of 2356 tweet ids queried
118 of 2356 tweet ids queried
118 was not found
120 of 2356 tweet ids queried
121 of 2356 tweet ids queried
122 of 2356 tweet ids queried
123 of 2356 tweet ids queried
124 of 2356 tweet ids queried
125 of 2356 tweet ids queried
126 of 2356 tweet ids queried
127 of 2356 tweet ids queried
128 of 2356 tweet ids queried
129 of 2356 tweet ids queried
130 of 2356 tweet ids queried
131 of 2356 tweet ids queried
132 of 2356 tweet ids queried
132 was not found
134 of 2356 tweet ids queried
135 of 2356 tweet ids queried
136 of 2356 tweet ids queried
137 of 2356 tweet ids queried
138 of 2356 tweet ids queried
139 of 2356 tweet ids queried
140 of 2356 tweet ids queried
141 of 2356 tweet ids queried
142 of 2356 tweet ids queried
143 of 2356 tweet ids queried
144 of 2356 tweet ids queried
145 of 2356 tweet ids queried
146 of 2356 tweet ids queried
147 of 2356 tweet ids queried
148 of 2356 tweet ids queried
149 of 2356 tweet ids queried
150 of 2356 tweet ids queried
151 of 2356 tweet ids queried
152 of 2356 tweet ids queried
153 of 2356 tweet ids queried
154 of 2356 tweet ids queried
155 of 2356 tweet ids queried
155 was not found
157 of 2356 tweet ids queried
158 of 2356 tweet ids queried
159 of 2356 tweet ids queried
160 of 2356 tweet ids queried
161 of 2356 tweet ids queried
162 of 2356 tweet ids queried
163 of 2356 tweet ids queried
164 of 2356 tweet ids queried
165 of 2356 tweet ids queried
166 of 2356 tweet ids queried
167 of 2356 tweet ids queried
168 of 2356 tweet ids queried
169 of 2356 tweet ids queried
170 of 2356 tweet ids queried
171 of 2356 tweet ids queried
172 of 2356 tweet ids queried
173 of 2356 tweet ids queried
174 of 2356 tweet ids queried
175 of 2356 tweet ids queried
176 of 2356 tweet ids queried
177 of 2356 tweet ids queried
178 of 2356 tweet ids queried
179 of 2356 tweet ids queried
180 of 2356 tweet ids queried
181 of 2356 tweet ids queried
182 of 2356 tweet ids queried
183 of 2356 tweet ids queried
184 of 2356 tweet ids queried
185 of 2356 tweet ids queried
186 of 2356 tweet ids queried
187 of 2356 tweet ids queried
188 of 2356 tweet ids queried
189 of 2356 tweet ids queried
190 of 2356 tweet ids queried
191 of 2356 tweet ids queried
192 of 2356 tweet ids queried
193 of 2356 tweet ids queried
194 of 2356 tweet ids queried
195 of 2356 tweet ids queried
196 of 2356 tweet ids queried
197 of 2356 tweet ids queried
198 of 2356 tweet ids queried
199 of 2356 tweet ids queried
200 of 2356 tweet ids queried
201 of 2356 tweet ids queried
202 of 2356 tweet ids queried
203 of 2356 tweet ids queried
204 of 2356 tweet ids queried
205 of 2356 tweet ids queried
206 of 2356 tweet ids queried
207 of 2356 tweet ids queried
208 of 2356 tweet ids queried
209 of 2356 tweet ids queried
210 of 2356 tweet ids queried
211 of 2356 tweet ids queried
212 of 2356 tweet ids queried
213 of 2356 tweet ids queried
214 of 2356 tweet ids queried
215 of 2356 tweet ids queried
216 of 2356 tweet ids queried
217 of 2356 tweet ids queried
218 of 2356 tweet ids queried
219 of 2356 tweet ids queried
220 of 2356 tweet ids queried
221 of 2356 tweet ids queried
222 of 2356 tweet ids queried
223 of 2356 tweet ids queried
224 of 2356 tweet ids queried
225 of 2356 tweet ids queried
226 of 2356 tweet ids queried
227 of 2356 tweet ids queried
228 of 2356 tweet ids queried
229 of 2356 tweet ids queried
230 of 2356 tweet ids queried
231 of 2356 tweet ids queried
232 of 2356 tweet ids queried
233 of 2356 tweet ids queried
234 of 2356 tweet ids queried
235 of 2356 tweet ids queried
236 of 2356 tweet ids queried
237 of 2356 tweet ids queried
238 of 2356 tweet ids queried
239 of 2356 tweet ids queried
240 of 2356 tweet ids queried
241 of 2356 tweet ids queried
242 of 2356 tweet ids queried
243 of 2356 tweet ids queried
244 of 2356 tweet ids queried
245 of 2356 tweet ids queried
246 of 2356 tweet ids queried
247 of 2356 tweet ids queried
247 was not found
249 of 2356 tweet ids queried
250 of 2356 tweet ids queried
251 of 2356 tweet ids queried
252 of 2356 tweet ids queried
253 of 2356 tweet ids queried
254 of 2356 tweet ids queried
255 of 2356 tweet ids queried
256 of 2356 tweet ids queried
257 of 2356 tweet ids queried
258 of 2356 tweet ids queried
259 of 2356 tweet ids queried
260 of 2356 tweet ids queried
260 was not found
262 of 2356 tweet ids queried
263 of 2356 tweet ids queried
264 of 2356 tweet ids queried
265 of 2356 tweet ids queried
266 of 2356 tweet ids queried
267 of 2356 tweet ids queried
268 of 2356 tweet ids queried
269 of 2356 tweet ids queried
270 of 2356 tweet ids queried
271 of 2356 tweet ids queried
272 of 2356 tweet ids queried
273 of 2356 tweet ids queried
274 of 2356 tweet ids queried
275 of 2356 tweet ids queried
276 of 2356 tweet ids queried
277 of 2356 tweet ids queried
278 of 2356 tweet ids queried
279 of 2356 tweet ids queried
280 of 2356 tweet ids queried
281 of 2356 tweet ids queried

282 of 2356 tweet ids queried
283 of 2356 tweet ids queried
284 of 2356 tweet ids queried
285 of 2356 tweet ids queried
286 of 2356 tweet ids queried
287 of 2356 tweet ids queried
288 of 2356 tweet ids queried
289 of 2356 tweet ids queried
290 of 2356 tweet ids queried
291 of 2356 tweet ids queried
292 of 2356 tweet ids queried
293 of 2356 tweet ids queried
294 of 2356 tweet ids queried
295 of 2356 tweet ids queried
296 of 2356 tweet ids queried
297 of 2356 tweet ids queried
298 of 2356 tweet ids queried
298 was not found
300 of 2356 tweet ids queried
301 of 2356 tweet ids queried
302 of 2356 tweet ids queried
303 of 2356 tweet ids queried
304 of 2356 tweet ids queried
305 of 2356 tweet ids queried
306 of 2356 tweet ids queried
307 of 2356 tweet ids queried
308 of 2356 tweet ids queried
309 of 2356 tweet ids queried
310 of 2356 tweet ids queried
311 of 2356 tweet ids queried
312 of 2356 tweet ids queried
313 of 2356 tweet ids queried
314 of 2356 tweet ids queried
315 of 2356 tweet ids queried
316 of 2356 tweet ids queried
317 of 2356 tweet ids queried
318 of 2356 tweet ids queried
319 of 2356 tweet ids queried
320 of 2356 tweet ids queried
321 of 2356 tweet ids queried
322 of 2356 tweet ids queried
323 of 2356 tweet ids queried
324 of 2356 tweet ids queried
325 of 2356 tweet ids queried
326 of 2356 tweet ids queried
327 of 2356 tweet ids queried
328 of 2356 tweet ids queried
329 of 2356 tweet ids queried
330 of 2356 tweet ids queried
331 of 2356 tweet ids queried
332 of 2356 tweet ids queried
333 of 2356 tweet ids queried
334 of 2356 tweet ids queried
335 of 2356 tweet ids queried
336 of 2356 tweet ids queried
337 of 2356 tweet ids queried
338 of 2356 tweet ids queried
339 of 2356 tweet ids queried
340 of 2356 tweet ids queried
341 of 2356 tweet ids queried
342 of 2356 tweet ids queried
343 of 2356 tweet ids queried
344 of 2356 tweet ids queried
345 of 2356 tweet ids queried
346 of 2356 tweet ids queried
347 of 2356 tweet ids queried
348 of 2356 tweet ids queried
349 of 2356 tweet ids queried
350 of 2356 tweet ids queried
351 of 2356 tweet ids queried
352 of 2356 tweet ids queried
353 of 2356 tweet ids queried
354 of 2356 tweet ids queried
355 of 2356 tweet ids queried
356 of 2356 tweet ids queried
357 of 2356 tweet ids queried
358 of 2356 tweet ids queried
359 of 2356 tweet ids queried
360 of 2356 tweet ids queried
361 of 2356 tweet ids queried
362 of 2356 tweet ids queried
363 of 2356 tweet ids queried
364 of 2356 tweet ids queried
365 of 2356 tweet ids queried
366 of 2356 tweet ids queried
367 of 2356 tweet ids queried
368 of 2356 tweet ids queried
369 of 2356 tweet ids queried
370 of 2356 tweet ids queried
371 of 2356 tweet ids queried
372 of 2356 tweet ids queried
373 of 2356 tweet ids queried
374 of 2356 tweet ids queried
375 of 2356 tweet ids queried
376 of 2356 tweet ids queried
377 of 2356 tweet ids queried
378 of 2356 tweet ids queried
379 of 2356 tweet ids queried
380 of 2356 tweet ids queried
381 of 2356 tweet ids queried
382 of 2356 tweet ids queried
382 was not found
384 of 2356 tweet ids queried
385 of 2356 tweet ids queried
386 of 2356 tweet ids queried
387 of 2356 tweet ids queried
388 of 2356 tweet ids queried
389 of 2356 tweet ids queried
390 of 2356 tweet ids queried
391 of 2356 tweet ids queried
392 of 2356 tweet ids queried
393 of 2356 tweet ids queried
394 of 2356 tweet ids queried
395 of 2356 tweet ids queried
396 of 2356 tweet ids queried
397 of 2356 tweet ids queried
398 of 2356 tweet ids queried
399 of 2356 tweet ids queried
400 of 2356 tweet ids queried
401 of 2356 tweet ids queried
402 of 2356 tweet ids queried
403 of 2356 tweet ids queried
404 of 2356 tweet ids queried
405 of 2356 tweet ids queried
406 of 2356 tweet ids queried
407 of 2356 tweet ids queried
408 of 2356 tweet ids queried
409 of 2356 tweet ids queried
410 of 2356 tweet ids queried
411 of 2356 tweet ids queried
412 of 2356 tweet ids queried
413 of 2356 tweet ids queried
414 of 2356 tweet ids queried
415 of 2356 tweet ids queried
416 of 2356 tweet ids queried
417 of 2356 tweet ids queried
418 of 2356 tweet ids queried
419 of 2356 tweet ids queried
420 of 2356 tweet ids queried
421 of 2356 tweet ids queried
422 of 2356 tweet ids queried
423 of 2356 tweet ids queried
424 of 2356 tweet ids queried
425 of 2356 tweet ids queried
426 of 2356 tweet ids queried
427 of 2356 tweet ids queried
428 of 2356 tweet ids queried
429 of 2356 tweet ids queried
430 of 2356 tweet ids queried
431 of 2356 tweet ids queried
432 of 2356 tweet ids queried
433 of 2356 tweet ids queried
434 of 2356 tweet ids queried
435 of 2356 tweet ids queried
436 of 2356 tweet ids queried
437 of 2356 tweet ids queried
438 of 2356 tweet ids queried
439 of 2356 tweet ids queried
440 of 2356 tweet ids queried
441 of 2356 tweet ids queried
442 of 2356 tweet ids queried
443 of 2356 tweet ids queried
444 of 2356 tweet ids queried
445 of 2356 tweet ids queried
446 of 2356 tweet ids queried
447 of 2356 tweet ids queried
448 of 2356 tweet ids queried
449 of 2356 tweet ids queried
450 of 2356 tweet ids queried
451 of 2356 tweet ids queried
452 of 2356 tweet ids queried
453 of 2356 tweet ids queried
454 of 2356 tweet ids queried
455 of 2356 tweet ids queried
456 of 2356 tweet ids queried
457 of 2356 tweet ids queried
458 of 2356 tweet ids queried
459 of 2356 tweet ids queried
460 of 2356 tweet ids queried
461 of 2356 tweet ids queried
462 of 2356 tweet ids queried
463 of 2356 tweet ids queried
464 of 2356 tweet ids queried
465 of 2356 tweet ids queried
466 of 2356 tweet ids queried
467 of 2356 tweet ids queried
468 of 2356 tweet ids queried
469 of 2356 tweet ids queried
470 of 2356 tweet ids queried
471 of 2356 tweet ids queried
472 of 2356 tweet ids queried
473 of 2356 tweet ids queried
474 of 2356 tweet ids queried
475 of 2356 tweet ids queried
476 of 2356 tweet ids queried
477 of 2356 tweet ids queried
478 of 2356 tweet ids queried
479 of 2356 tweet ids queried
480 of 2356 tweet ids queried
481 of 2356 tweet ids queried
482 of 2356 tweet ids queried
483 of 2356 tweet ids queried
484 of 2356 tweet ids queried
485 of 2356 tweet ids queried
486 of 2356 tweet ids queried
487 of 2356 tweet ids queried
488 of 2356 tweet ids queried
489 of 2356 tweet ids queried
490 of 2356 tweet ids queried
491 of 2356 tweet ids queried
492 of 2356 tweet ids queried
493 of 2356 tweet ids queried
494 of 2356 tweet ids queried
495 of 2356 tweet ids queried
496 of 2356 tweet ids queried
497 of 2356 tweet ids queried
498 of 2356 tweet ids queried
499 of 2356 tweet ids queried
500 of 2356 tweet ids queried
501 of 2356 tweet ids queried
502 of 2356 tweet ids queried
503 of 2356 tweet ids queried
504 of 2356 tweet ids queried
505 of 2356 tweet ids queried
506 of 2356 tweet ids queried
506 was not found
508 of 2356 tweet ids queried
509 of 2356 tweet ids queried
510 of 2356 tweet ids queried
511 of 2356 tweet ids queried
512 of 2356 tweet ids queried
513 of 2356 tweet ids queried
514 of 2356 tweet ids queried
515 of 2356 tweet ids queried
516 of 2356 tweet ids queried
517 of 2356 tweet ids queried
518 of 2356 tweet ids queried
519 of 2356 tweet ids queried
520 of 2356 tweet ids queried
521 of 2356 tweet ids queried
522 of 2356 tweet ids queried
523 of 2356 tweet ids queried
524 of 2356 tweet ids queried
525 of 2356 tweet ids queried
526 of 2356 tweet ids queried
527 of 2356 tweet ids queried
528 of 2356 tweet ids queried
529 of 2356 tweet ids queried
530 of 2356 tweet ids queried
531 of 2356 tweet ids queried
532 of 2356 tweet ids queried
533 of 2356 tweet ids queried
534 of 2356 tweet ids queried
535 of 2356 tweet ids queried
536 of 2356 tweet ids queried
537 of 2356 tweet ids queried
538 of 2356 tweet ids queried
539 of 2356 tweet ids queried
540 of 2356 tweet ids queried
541 of 2356 tweet ids queried
542 of 2356 tweet ids queried
543 of 2356 tweet ids queried
544 of 2356 tweet ids queried
545 of 2356 tweet ids queried
546 of 2356 tweet ids queried
547 of 2356 tweet ids queried
548 of 2356 tweet ids queried
549 of 2356 tweet ids queried
550 of 2356 tweet ids queried
551 of 2356 tweet ids queried
552 of 2356 tweet ids queried
553 of 2356 tweet ids queried
554 of 2356 tweet ids queried
555 of 2356 tweet ids queried
556 of 2356 tweet ids queried

557 of 2356 tweet ids queried
558 of 2356 tweet ids queried
559 of 2356 tweet ids queried
560 of 2356 tweet ids queried
561 of 2356 tweet ids queried
562 of 2356 tweet ids queried
563 of 2356 tweet ids queried
564 of 2356 tweet ids queried
565 of 2356 tweet ids queried
566 of 2356 tweet ids queried
566 was not found
568 of 2356 tweet ids queried
569 of 2356 tweet ids queried
570 of 2356 tweet ids queried
571 of 2356 tweet ids queried
572 of 2356 tweet ids queried
573 of 2356 tweet ids queried
574 of 2356 tweet ids queried
575 of 2356 tweet ids queried
576 of 2356 tweet ids queried
577 of 2356 tweet ids queried
578 of 2356 tweet ids queried
579 of 2356 tweet ids queried
580 of 2356 tweet ids queried
581 of 2356 tweet ids queried
582 of 2356 tweet ids queried
583 of 2356 tweet ids queried
584 of 2356 tweet ids queried
585 of 2356 tweet ids queried
586 of 2356 tweet ids queried
587 of 2356 tweet ids queried
588 of 2356 tweet ids queried
589 of 2356 tweet ids queried
590 of 2356 tweet ids queried
591 of 2356 tweet ids queried
592 of 2356 tweet ids queried
593 of 2356 tweet ids queried
594 of 2356 tweet ids queried
595 of 2356 tweet ids queried
596 of 2356 tweet ids queried
597 of 2356 tweet ids queried
598 of 2356 tweet ids queried
599 of 2356 tweet ids queried
600 of 2356 tweet ids queried
601 of 2356 tweet ids queried
602 of 2356 tweet ids queried
603 of 2356 tweet ids queried
604 of 2356 tweet ids queried
605 of 2356 tweet ids queried
606 of 2356 tweet ids queried
607 of 2356 tweet ids queried
608 of 2356 tweet ids queried
609 of 2356 tweet ids queried
610 of 2356 tweet ids queried
611 of 2356 tweet ids queried
612 of 2356 tweet ids queried
613 of 2356 tweet ids queried
614 of 2356 tweet ids queried
615 of 2356 tweet ids queried
616 of 2356 tweet ids queried
617 of 2356 tweet ids queried
618 of 2356 tweet ids queried
619 of 2356 tweet ids queried
620 of 2356 tweet ids queried
621 of 2356 tweet ids queried
622 of 2356 tweet ids queried
623 of 2356 tweet ids queried
624 of 2356 tweet ids queried
625 of 2356 tweet ids queried
626 of 2356 tweet ids queried
627 of 2356 tweet ids queried
628 of 2356 tweet ids queried
629 of 2356 tweet ids queried
630 of 2356 tweet ids queried
631 of 2356 tweet ids queried
632 of 2356 tweet ids queried
633 of 2356 tweet ids queried
634 of 2356 tweet ids queried
635 of 2356 tweet ids queried
636 of 2356 tweet ids queried
637 of 2356 tweet ids queried
638 of 2356 tweet ids queried
639 of 2356 tweet ids queried
640 of 2356 tweet ids queried
641 of 2356 tweet ids queried
642 of 2356 tweet ids queried
643 of 2356 tweet ids queried
644 of 2356 tweet ids queried
645 of 2356 tweet ids queried
646 of 2356 tweet ids queried
647 of 2356 tweet ids queried
648 of 2356 tweet ids queried
649 of 2356 tweet ids queried
650 of 2356 tweet ids queried
651 of 2356 tweet ids queried
652 of 2356 tweet ids queried
653 of 2356 tweet ids queried
654 of 2356 tweet ids queried
655 of 2356 tweet ids queried
656 of 2356 tweet ids queried
657 of 2356 tweet ids queried
658 of 2356 tweet ids queried
659 of 2356 tweet ids queried
660 of 2356 tweet ids queried
661 of 2356 tweet ids queried
662 of 2356 tweet ids queried
663 of 2356 tweet ids queried
664 of 2356 tweet ids queried
665 of 2356 tweet ids queried
666 of 2356 tweet ids queried
667 of 2356 tweet ids queried
668 of 2356 tweet ids queried
669 of 2356 tweet ids queried
670 of 2356 tweet ids queried
671 of 2356 tweet ids queried
672 of 2356 tweet ids queried
673 of 2356 tweet ids queried
674 of 2356 tweet ids queried
675 of 2356 tweet ids queried
676 of 2356 tweet ids queried
677 of 2356 tweet ids queried
678 of 2356 tweet ids queried
679 of 2356 tweet ids queried
680 of 2356 tweet ids queried
681 of 2356 tweet ids queried
682 of 2356 tweet ids queried
683 of 2356 tweet ids queried
684 of 2356 tweet ids queried
685 of 2356 tweet ids queried
686 of 2356 tweet ids queried
687 of 2356 tweet ids queried
688 of 2356 tweet ids queried
689 of 2356 tweet ids queried
690 of 2356 tweet ids queried
691 of 2356 tweet ids queried
692 of 2356 tweet ids queried
693 of 2356 tweet ids queried
694 of 2356 tweet ids queried
695 of 2356 tweet ids queried
696 of 2356 tweet ids queried
697 of 2356 tweet ids queried
698 of 2356 tweet ids queried
699 of 2356 tweet ids queried
700 of 2356 tweet ids queried
701 of 2356 tweet ids queried
702 of 2356 tweet ids queried
703 of 2356 tweet ids queried
704 of 2356 tweet ids queried
705 of 2356 tweet ids queried
706 of 2356 tweet ids queried
707 of 2356 tweet ids queried
708 of 2356 tweet ids queried
709 of 2356 tweet ids queried
710 of 2356 tweet ids queried
711 of 2356 tweet ids queried
712 of 2356 tweet ids queried
713 of 2356 tweet ids queried
714 of 2356 tweet ids queried
715 of 2356 tweet ids queried
716 of 2356 tweet ids queried
717 of 2356 tweet ids queried
718 of 2356 tweet ids queried
719 of 2356 tweet ids queried
720 of 2356 tweet ids queried
721 of 2356 tweet ids queried
722 of 2356 tweet ids queried
723 of 2356 tweet ids queried
724 of 2356 tweet ids queried
725 of 2356 tweet ids queried
726 of 2356 tweet ids queried
727 of 2356 tweet ids queried
728 of 2356 tweet ids queried
729 of 2356 tweet ids queried
730 of 2356 tweet ids queried
731 of 2356 tweet ids queried
732 of 2356 tweet ids queried
733 of 2356 tweet ids queried
734 of 2356 tweet ids queried
735 of 2356 tweet ids queried
736 of 2356 tweet ids queried
737 of 2356 tweet ids queried
738 of 2356 tweet ids queried
739 of 2356 tweet ids queried
740 of 2356 tweet ids queried
741 of 2356 tweet ids queried
742 of 2356 tweet ids queried
743 of 2356 tweet ids queried
744 of 2356 tweet ids queried
745 of 2356 tweet ids queried
746 of 2356 tweet ids queried
747 of 2356 tweet ids queried
748 of 2356 tweet ids queried
749 of 2356 tweet ids queried
750 of 2356 tweet ids queried
751 of 2356 tweet ids queried
752 of 2356 tweet ids queried
753 of 2356 tweet ids queried
754 of 2356 tweet ids queried
755 of 2356 tweet ids queried
756 of 2356 tweet ids queried
757 of 2356 tweet ids queried
758 of 2356 tweet ids queried
759 of 2356 tweet ids queried
760 of 2356 tweet ids queried
761 of 2356 tweet ids queried
762 of 2356 tweet ids queried
763 of 2356 tweet ids queried
764 of 2356 tweet ids queried
765 of 2356 tweet ids queried
766 of 2356 tweet ids queried
767 of 2356 tweet ids queried
768 of 2356 tweet ids queried
769 of 2356 tweet ids queried
770 of 2356 tweet ids queried
771 of 2356 tweet ids queried
772 of 2356 tweet ids queried
773 of 2356 tweet ids queried
774 of 2356 tweet ids queried
775 of 2356 tweet ids queried
776 of 2356 tweet ids queried
777 of 2356 tweet ids queried
778 of 2356 tweet ids queried
779 of 2356 tweet ids queried
780 of 2356 tweet ids queried
781 of 2356 tweet ids queried
782 of 2356 tweet ids queried
783 of 2356 tweet ids queried
784 of 2356 tweet ids queried
784 was not found
786 of 2356 tweet ids queried
787 of 2356 tweet ids queried
788 of 2356 tweet ids queried
789 of 2356 tweet ids queried
790 of 2356 tweet ids queried
791 of 2356 tweet ids queried
792 of 2356 tweet ids queried
793 of 2356 tweet ids queried
794 of 2356 tweet ids queried
795 of 2356 tweet ids queried
796 of 2356 tweet ids queried
797 of 2356 tweet ids queried
798 of 2356 tweet ids queried
799 of 2356 tweet ids queried
800 of 2356 tweet ids queried
801 of 2356 tweet ids queried
802 of 2356 tweet ids queried
803 of 2356 tweet ids queried
804 of 2356 tweet ids queried
805 of 2356 tweet ids queried
806 of 2356 tweet ids queried
807 of 2356 tweet ids queried
808 of 2356 tweet ids queried
809 of 2356 tweet ids queried
810 of 2356 tweet ids queried
811 of 2356 tweet ids queried
812 of 2356 tweet ids queried
813 of 2356 tweet ids queried
814 of 2356 tweet ids queried
815 of 2356 tweet ids queried
816 of 2356 tweet ids queried
817 of 2356 tweet ids queried
818 of 2356 tweet ids queried
818 was not found
820 of 2356 tweet ids queried
821 of 2356 tweet ids queried
822 of 2356 tweet ids queried
823 of 2356 tweet ids queried
824 of 2356 tweet ids queried
825 of 2356 tweet ids queried
826 of 2356 tweet ids queried
827 of 2356 tweet ids queried
828 of 2356 tweet ids queried
829 of 2356 tweet ids queried
830 of 2356 tweet ids queried
831 of 2356 tweet ids queried

832 of 2356 tweet ids queried
833 of 2356 tweet ids queried
834 of 2356 tweet ids queried
835 of 2356 tweet ids queried
836 of 2356 tweet ids queried
837 of 2356 tweet ids queried
838 of 2356 tweet ids queried
839 of 2356 tweet ids queried
840 of 2356 tweet ids queried
841 of 2356 tweet ids queried
842 of 2356 tweet ids queried
843 of 2356 tweet ids queried
844 of 2356 tweet ids queried
845 of 2356 tweet ids queried
846 of 2356 tweet ids queried
847 of 2356 tweet ids queried
848 of 2356 tweet ids queried
849 of 2356 tweet ids queried
850 of 2356 tweet ids queried
851 of 2356 tweet ids queried
852 of 2356 tweet ids queried
853 of 2356 tweet ids queried
854 of 2356 tweet ids queried
855 of 2356 tweet ids queried
856 of 2356 tweet ids queried
857 of 2356 tweet ids queried
858 of 2356 tweet ids queried
859 of 2356 tweet ids queried
860 of 2356 tweet ids queried
861 of 2356 tweet ids queried
862 of 2356 tweet ids queried
863 of 2356 tweet ids queried
864 of 2356 tweet ids queried
865 of 2356 tweet ids queried
866 of 2356 tweet ids queried
867 of 2356 tweet ids queried
868 of 2356 tweet ids queried
869 of 2356 tweet ids queried
870 of 2356 tweet ids queried
871 of 2356 tweet ids queried
872 of 2356 tweet ids queried
873 of 2356 tweet ids queried
874 of 2356 tweet ids queried
875 of 2356 tweet ids queried
876 of 2356 tweet ids queried
877 of 2356 tweet ids queried
878 of 2356 tweet ids queried
879 of 2356 tweet ids queried
880 of 2356 tweet ids queried
881 of 2356 tweet ids queried
882 of 2356 tweet ids queried
883 of 2356 tweet ids queried
884 of 2356 tweet ids queried
885 of 2356 tweet ids queried
886 of 2356 tweet ids queried
887 of 2356 tweet ids queried
888 of 2356 tweet ids queried
889 of 2356 tweet ids queried
890 of 2356 tweet ids queried
891 of 2356 tweet ids queried
892 of 2356 tweet ids queried
893 of 2356 tweet ids queried
894 of 2356 tweet ids queried
895 of 2356 tweet ids queried
896 of 2356 tweet ids queried
897 of 2356 tweet ids queried
898 of 2356 tweet ids queried
899 of 2356 tweet ids queried
900 of 2356 tweet ids queried

Rate limit reached. Sleeping for: 56

901 of 2356 tweet ids queried
902 of 2356 tweet ids queried
903 of 2356 tweet ids queried
904 of 2356 tweet ids queried
905 of 2356 tweet ids queried
906 of 2356 tweet ids queried
907 of 2356 tweet ids queried
908 of 2356 tweet ids queried
909 of 2356 tweet ids queried
910 of 2356 tweet ids queried
911 of 2356 tweet ids queried
912 of 2356 tweet ids queried
913 of 2356 tweet ids queried
914 of 2356 tweet ids queried
915 of 2356 tweet ids queried
916 of 2356 tweet ids queried
917 of 2356 tweet ids queried
918 of 2356 tweet ids queried
919 of 2356 tweet ids queried
920 of 2356 tweet ids queried
921 of 2356 tweet ids queried
922 of 2356 tweet ids queried
923 of 2356 tweet ids queried
924 of 2356 tweet ids queried
925 of 2356 tweet ids queried
926 of 2356 tweet ids queried
927 of 2356 tweet ids queried
928 of 2356 tweet ids queried
929 of 2356 tweet ids queried
930 of 2356 tweet ids queried
931 of 2356 tweet ids queried
932 of 2356 tweet ids queried
932 was not found
934 of 2356 tweet ids queried
935 of 2356 tweet ids queried
936 of 2356 tweet ids queried
937 of 2356 tweet ids queried
938 of 2356 tweet ids queried
939 of 2356 tweet ids queried
940 of 2356 tweet ids queried
941 of 2356 tweet ids queried
942 of 2356 tweet ids queried
943 of 2356 tweet ids queried
944 of 2356 tweet ids queried
945 of 2356 tweet ids queried
946 of 2356 tweet ids queried
947 of 2356 tweet ids queried
948 of 2356 tweet ids queried
949 of 2356 tweet ids queried
950 of 2356 tweet ids queried
951 of 2356 tweet ids queried
952 of 2356 tweet ids queried
953 of 2356 tweet ids queried
954 of 2356 tweet ids queried
955 of 2356 tweet ids queried
956 of 2356 tweet ids queried
957 of 2356 tweet ids queried
958 of 2356 tweet ids queried
959 of 2356 tweet ids queried
960 of 2356 tweet ids queried
961 of 2356 tweet ids queried
962 of 2356 tweet ids queried
963 of 2356 tweet ids queried
964 of 2356 tweet ids queried
965 of 2356 tweet ids queried
966 of 2356 tweet ids queried
967 of 2356 tweet ids queried
968 of 2356 tweet ids queried
969 of 2356 tweet ids queried
970 of 2356 tweet ids queried
971 of 2356 tweet ids queried
972 of 2356 tweet ids queried
973 of 2356 tweet ids queried
974 of 2356 tweet ids queried
975 of 2356 tweet ids queried
976 of 2356 tweet ids queried
977 of 2356 tweet ids queried
978 of 2356 tweet ids queried
979 of 2356 tweet ids queried
980 of 2356 tweet ids queried
981 of 2356 tweet ids queried
982 of 2356 tweet ids queried
983 of 2356 tweet ids queried
984 of 2356 tweet ids queried
985 of 2356 tweet ids queried
986 of 2356 tweet ids queried
987 of 2356 tweet ids queried
988 of 2356 tweet ids queried
989 of 2356 tweet ids queried
990 of 2356 tweet ids queried
991 of 2356 tweet ids queried
992 of 2356 tweet ids queried
993 of 2356 tweet ids queried
994 of 2356 tweet ids queried
995 of 2356 tweet ids queried
996 of 2356 tweet ids queried
997 of 2356 tweet ids queried
998 of 2356 tweet ids queried
999 of 2356 tweet ids queried
1000 of 2356 tweet ids queried
1001 of 2356 tweet ids queried
1002 of 2356 tweet ids queried
1003 of 2356 tweet ids queried
1004 of 2356 tweet ids queried
1005 of 2356 tweet ids queried
1006 of 2356 tweet ids queried
1007 of 2356 tweet ids queried
1008 of 2356 tweet ids queried
1009 of 2356 tweet ids queried
1010 of 2356 tweet ids queried
1011 of 2356 tweet ids queried
1012 of 2356 tweet ids queried
1013 of 2356 tweet ids queried
1014 of 2356 tweet ids queried
1015 of 2356 tweet ids queried
1016 of 2356 tweet ids queried
1017 of 2356 tweet ids queried
1018 of 2356 tweet ids queried
1019 of 2356 tweet ids queried
1020 of 2356 tweet ids queried
1021 of 2356 tweet ids queried
1022 of 2356 tweet ids queried
1023 of 2356 tweet ids queried
1024 of 2356 tweet ids queried
1025 of 2356 tweet ids queried
1026 of 2356 tweet ids queried
1027 of 2356 tweet ids queried
1028 of 2356 tweet ids queried
1029 of 2356 tweet ids queried
1030 of 2356 tweet ids queried
1031 of 2356 tweet ids queried
1032 of 2356 tweet ids queried
1033 of 2356 tweet ids queried
1034 of 2356 tweet ids queried
1035 of 2356 tweet ids queried
1036 of 2356 tweet ids queried
1037 of 2356 tweet ids queried
1038 of 2356 tweet ids queried
1039 of 2356 tweet ids queried
1040 of 2356 tweet ids queried
1041 of 2356 tweet ids queried
1042 of 2356 tweet ids queried
1043 of 2356 tweet ids queried
1044 of 2356 tweet ids queried
1045 of 2356 tweet ids queried
1046 of 2356 tweet ids queried
1047 of 2356 tweet ids queried
1048 of 2356 tweet ids queried
1049 of 2356 tweet ids queried
1050 of 2356 tweet ids queried
1051 of 2356 tweet ids queried
1052 of 2356 tweet ids queried
1053 of 2356 tweet ids queried
1054 of 2356 tweet ids queried
1055 of 2356 tweet ids queried
1056 of 2356 tweet ids queried
1057 of 2356 tweet ids queried
1058 of 2356 tweet ids queried
1059 of 2356 tweet ids queried
1060 of 2356 tweet ids queried
1061 of 2356 tweet ids queried
1062 of 2356 tweet ids queried
1063 of 2356 tweet ids queried
1064 of 2356 tweet ids queried
1065 of 2356 tweet ids queried
1066 of 2356 tweet ids queried
1067 of 2356 tweet ids queried
1068 of 2356 tweet ids queried
1069 of 2356 tweet ids queried
1070 of 2356 tweet ids queried
1071 of 2356 tweet ids queried
1072 of 2356 tweet ids queried
1073 of 2356 tweet ids queried
1074 of 2356 tweet ids queried
1075 of 2356 tweet ids queried
1076 of 2356 tweet ids queried
1077 of 2356 tweet ids queried
1078 of 2356 tweet ids queried
1079 of 2356 tweet ids queried
1080 of 2356 tweet ids queried
1081 of 2356 tweet ids queried
1082 of 2356 tweet ids queried
1083 of 2356 tweet ids queried
1084 of 2356 tweet ids queried
1085 of 2356 tweet ids queried
1086 of 2356 tweet ids queried
1087 of 2356 tweet ids queried
1088 of 2356 tweet ids queried
1089 of 2356 tweet ids queried
1090 of 2356 tweet ids queried
1091 of 2356 tweet ids queried
1092 of 2356 tweet ids queried
1093 of 2356 tweet ids queried
1094 of 2356 tweet ids queried
1095 of 2356 tweet ids queried
1096 of 2356 tweet ids queried
1097 of 2356 tweet ids queried
1098 of 2356 tweet ids queried
1099 of 2356 tweet ids queried
1100 of 2356 tweet ids queried
1101 of 2356 tweet ids queried
1102 of 2356 tweet ids queried
1103 of 2356 tweet ids queried
1104 of 2356 tweet ids queried
1105 of 2356 tweet ids queried
1106 of 2356 tweet ids queried
1107 of 2356 tweet ids queried
1108 of 2356 tweet ids queried
1109 of 2356 tweet ids queried
1110 of 2356 tweet ids queried
1111 of 2356 tweet ids queried
1112 of 2356 tweet ids queried
1113 of 2356 tweet ids queried
1114 of 2356 tweet ids queried
1115 of 2356 tweet ids queried
1116 of 2356 tweet ids queried
1117 of 2356 tweet ids queried
1118 of 2356 tweet ids queried
1119 of 2356 tweet ids queried
1120 of 2356 tweet ids queried
1121 of 2356 tweet ids queried
1122 of 2356 tweet ids queried
1123 of 2356 tweet ids queried
1124 of 2356 tweet ids queried
1125 of 2356 tweet ids queried
1126 of 2356 tweet ids queried
1127 of 2356 tweet ids queried
1128 of 2356 tweet ids queried
1129 of 2356 tweet ids queried
1130 of 2356 tweet ids queried
1131 of 2356 tweet ids queried
1132 of 2356 tweet ids queried
1133 of 2356 tweet ids queried
1134 of 2356 tweet ids queried
1135 of 2356 tweet ids queried
1136 of 2356 tweet ids queried
1137 of 2356 tweet ids queried
1138 of 2356 tweet ids queried
1139 of 2356 tweet ids queried
1140 of 2356 tweet ids queried
1141 of 2356 tweet ids queried
1142 of 2356 tweet ids queried
1143 of 2356 tweet ids queried
1144 of 2356 tweet ids queried
1145 of 2356 tweet ids queried
1146 of 2356 tweet ids queried
1147 of 2356 tweet ids queried
1148 of 2356 tweet ids queried
1149 of 2356 tweet ids queried
1150 of 2356 tweet ids queried
1151 of 2356 tweet ids queried
1152 of 2356 tweet ids queried
1153 of 2356 tweet ids queried
1154 of 2356 tweet ids queried
1155 of 2356 tweet ids queried
1156 of 2356 tweet ids queried
1157 of 2356 tweet ids queried
1158 of 2356 tweet ids queried
1159 of 2356 tweet ids queried
1160 of 2356 tweet ids queried
1161 of 2356 tweet ids queried
1162 of 2356 tweet ids queried
1163 of 2356 tweet ids queried
1164 of 2356 tweet ids queried
1165 of 2356 tweet ids queried
1166 of 2356 tweet ids queried
1167 of 2356 tweet ids queried
1168 of 2356 tweet ids queried

1169 of 2356 tweet ids queried
1170 of 2356 tweet ids queried
1171 of 2356 tweet ids queried
1172 of 2356 tweet ids queried
1173 of 2356 tweet ids queried
1174 of 2356 tweet ids queried
1175 of 2356 tweet ids queried
1176 of 2356 tweet ids queried
1177 of 2356 tweet ids queried
1178 of 2356 tweet ids queried
1179 of 2356 tweet ids queried
1180 of 2356 tweet ids queried
1181 of 2356 tweet ids queried
1182 of 2356 tweet ids queried
1183 of 2356 tweet ids queried
1184 of 2356 tweet ids queried
1185 of 2356 tweet ids queried
1186 of 2356 tweet ids queried
1187 of 2356 tweet ids queried
1188 of 2356 tweet ids queried
1189 of 2356 tweet ids queried
1190 of 2356 tweet ids queried
1191 of 2356 tweet ids queried
1192 of 2356 tweet ids queried
1193 of 2356 tweet ids queried
1194 of 2356 tweet ids queried
1195 of 2356 tweet ids queried
1196 of 2356 tweet ids queried
1197 of 2356 tweet ids queried
1198 of 2356 tweet ids queried
1199 of 2356 tweet ids queried
1200 of 2356 tweet ids queried
1201 of 2356 tweet ids queried
1202 of 2356 tweet ids queried
1203 of 2356 tweet ids queried
1204 of 2356 tweet ids queried
1205 of 2356 tweet ids queried
1206 of 2356 tweet ids queried
1207 of 2356 tweet ids queried
1208 of 2356 tweet ids queried
1209 of 2356 tweet ids queried
1210 of 2356 tweet ids queried
1211 of 2356 tweet ids queried
1212 of 2356 tweet ids queried
1213 of 2356 tweet ids queried
1214 of 2356 tweet ids queried
1215 of 2356 tweet ids queried
1216 of 2356 tweet ids queried
1217 of 2356 tweet ids queried
1218 of 2356 tweet ids queried
1219 of 2356 tweet ids queried
1220 of 2356 tweet ids queried
1221 of 2356 tweet ids queried
1222 of 2356 tweet ids queried
1223 of 2356 tweet ids queried
1224 of 2356 tweet ids queried
1225 of 2356 tweet ids queried
1226 of 2356 tweet ids queried
1227 of 2356 tweet ids queried
1228 of 2356 tweet ids queried
1229 of 2356 tweet ids queried
1230 of 2356 tweet ids queried
1231 of 2356 tweet ids queried
1232 of 2356 tweet ids queried
1233 of 2356 tweet ids queried
1234 of 2356 tweet ids queried
1235 of 2356 tweet ids queried
1236 of 2356 tweet ids queried
1237 of 2356 tweet ids queried
1238 of 2356 tweet ids queried
1239 of 2356 tweet ids queried
1240 of 2356 tweet ids queried
1241 of 2356 tweet ids queried
1242 of 2356 tweet ids queried
1243 of 2356 tweet ids queried
1244 of 2356 tweet ids queried
1245 of 2356 tweet ids queried
1246 of 2356 tweet ids queried
1247 of 2356 tweet ids queried
1248 of 2356 tweet ids queried
1249 of 2356 tweet ids queried
1250 of 2356 tweet ids queried
1251 of 2356 tweet ids queried
1252 of 2356 tweet ids queried
1253 of 2356 tweet ids queried
1254 of 2356 tweet ids queried
1255 of 2356 tweet ids queried
1256 of 2356 tweet ids queried
1257 of 2356 tweet ids queried
1258 of 2356 tweet ids queried
1259 of 2356 tweet ids queried
1260 of 2356 tweet ids queried
1261 of 2356 tweet ids queried
1262 of 2356 tweet ids queried
1263 of 2356 tweet ids queried
1264 of 2356 tweet ids queried
1265 of 2356 tweet ids queried
1266 of 2356 tweet ids queried
1267 of 2356 tweet ids queried
1268 of 2356 tweet ids queried
1269 of 2356 tweet ids queried
1270 of 2356 tweet ids queried
1271 of 2356 tweet ids queried
1272 of 2356 tweet ids queried
1273 of 2356 tweet ids queried
1274 of 2356 tweet ids queried
1275 of 2356 tweet ids queried
1276 of 2356 tweet ids queried
1277 of 2356 tweet ids queried
1278 of 2356 tweet ids queried
1279 of 2356 tweet ids queried
1280 of 2356 tweet ids queried
1281 of 2356 tweet ids queried
1282 of 2356 tweet ids queried
1283 of 2356 tweet ids queried
1284 of 2356 tweet ids queried
1285 of 2356 tweet ids queried
1286 of 2356 tweet ids queried
1287 of 2356 tweet ids queried
1288 of 2356 tweet ids queried
1289 of 2356 tweet ids queried
1290 of 2356 tweet ids queried
1291 of 2356 tweet ids queried
1292 of 2356 tweet ids queried
1293 of 2356 tweet ids queried
1294 of 2356 tweet ids queried
1295 of 2356 tweet ids queried
1296 of 2356 tweet ids queried
1297 of 2356 tweet ids queried
1298 of 2356 tweet ids queried
1299 of 2356 tweet ids queried
1300 of 2356 tweet ids queried
1301 of 2356 tweet ids queried
1302 of 2356 tweet ids queried
1303 of 2356 tweet ids queried
1304 of 2356 tweet ids queried
1305 of 2356 tweet ids queried
1306 of 2356 tweet ids queried
1307 of 2356 tweet ids queried
1308 of 2356 tweet ids queried
1309 of 2356 tweet ids queried
1310 of 2356 tweet ids queried
1311 of 2356 tweet ids queried
1312 of 2356 tweet ids queried
1313 of 2356 tweet ids queried
1314 of 2356 tweet ids queried
1315 of 2356 tweet ids queried
1316 of 2356 tweet ids queried
1317 of 2356 tweet ids queried
1318 of 2356 tweet ids queried
1319 of 2356 tweet ids queried
1320 of 2356 tweet ids queried
1321 of 2356 tweet ids queried
1322 of 2356 tweet ids queried
1323 of 2356 tweet ids queried
1324 of 2356 tweet ids queried
1325 of 2356 tweet ids queried
1326 of 2356 tweet ids queried
1327 of 2356 tweet ids queried
1328 of 2356 tweet ids queried
1329 of 2356 tweet ids queried
1330 of 2356 tweet ids queried
1331 of 2356 tweet ids queried
1332 of 2356 tweet ids queried
1333 of 2356 tweet ids queried
1334 of 2356 tweet ids queried
1335 of 2356 tweet ids queried
1336 of 2356 tweet ids queried
1337 of 2356 tweet ids queried
1338 of 2356 tweet ids queried
1339 of 2356 tweet ids queried
1340 of 2356 tweet ids queried
1341 of 2356 tweet ids queried
1342 of 2356 tweet ids queried
1343 of 2356 tweet ids queried
1344 of 2356 tweet ids queried
1345 of 2356 tweet ids queried
1346 of 2356 tweet ids queried
1347 of 2356 tweet ids queried
1348 of 2356 tweet ids queried
1349 of 2356 tweet ids queried
1350 of 2356 tweet ids queried
1351 of 2356 tweet ids queried
1352 of 2356 tweet ids queried
1353 of 2356 tweet ids queried
1354 of 2356 tweet ids queried
1355 of 2356 tweet ids queried
1356 of 2356 tweet ids queried
1357 of 2356 tweet ids queried
1358 of 2356 tweet ids queried
1359 of 2356 tweet ids queried
1360 of 2356 tweet ids queried
1361 of 2356 tweet ids queried
1362 of 2356 tweet ids queried
1363 of 2356 tweet ids queried
1364 of 2356 tweet ids queried
1365 of 2356 tweet ids queried
1366 of 2356 tweet ids queried
1367 of 2356 tweet ids queried
1368 of 2356 tweet ids queried
1369 of 2356 tweet ids queried
1370 of 2356 tweet ids queried
1371 of 2356 tweet ids queried
1372 of 2356 tweet ids queried
1373 of 2356 tweet ids queried
1374 of 2356 tweet ids queried
1375 of 2356 tweet ids queried
1376 of 2356 tweet ids queried
1377 of 2356 tweet ids queried
1378 of 2356 tweet ids queried
1379 of 2356 tweet ids queried
1380 of 2356 tweet ids queried
1381 of 2356 tweet ids queried
1382 of 2356 tweet ids queried
1383 of 2356 tweet ids queried
1384 of 2356 tweet ids queried
1385 of 2356 tweet ids queried
1386 of 2356 tweet ids queried
1387 of 2356 tweet ids queried
1388 of 2356 tweet ids queried
1389 of 2356 tweet ids queried
1390 of 2356 tweet ids queried
1391 of 2356 tweet ids queried
1392 of 2356 tweet ids queried
1393 of 2356 tweet ids queried
1394 of 2356 tweet ids queried
1395 of 2356 tweet ids queried
1396 of 2356 tweet ids queried
1397 of 2356 tweet ids queried
1398 of 2356 tweet ids queried
1399 of 2356 tweet ids queried
1400 of 2356 tweet ids queried
1401 of 2356 tweet ids queried
1402 of 2356 tweet ids queried
1403 of 2356 tweet ids queried
1404 of 2356 tweet ids queried
1405 of 2356 tweet ids queried
1406 of 2356 tweet ids queried
1407 of 2356 tweet ids queried
1408 of 2356 tweet ids queried
1409 of 2356 tweet ids queried
1410 of 2356 tweet ids queried
1411 of 2356 tweet ids queried
1412 of 2356 tweet ids queried
1413 of 2356 tweet ids queried
1414 of 2356 tweet ids queried
1415 of 2356 tweet ids queried
1416 of 2356 tweet ids queried
1417 of 2356 tweet ids queried
1418 of 2356 tweet ids queried
1419 of 2356 tweet ids queried
1420 of 2356 tweet ids queried
1421 of 2356 tweet ids queried
1422 of 2356 tweet ids queried
1423 of 2356 tweet ids queried
1424 of 2356 tweet ids queried
1425 of 2356 tweet ids queried
1426 of 2356 tweet ids queried
1427 of 2356 tweet ids queried
1428 of 2356 tweet ids queried
1429 of 2356 tweet ids queried
1430 of 2356 tweet ids queried
1431 of 2356 tweet ids queried
1432 of 2356 tweet ids queried
1433 of 2356 tweet ids queried

1434 of 2356 tweet ids queried
1435 of 2356 tweet ids queried
1436 of 2356 tweet ids queried
1437 of 2356 tweet ids queried
1438 of 2356 tweet ids queried
1439 of 2356 tweet ids queried
1440 of 2356 tweet ids queried
1441 of 2356 tweet ids queried
1442 of 2356 tweet ids queried
1443 of 2356 tweet ids queried
1444 of 2356 tweet ids queried
1445 of 2356 tweet ids queried
1446 of 2356 tweet ids queried
1447 of 2356 tweet ids queried
1448 of 2356 tweet ids queried
1449 of 2356 tweet ids queried
1450 of 2356 tweet ids queried
1451 of 2356 tweet ids queried
1452 of 2356 tweet ids queried
1453 of 2356 tweet ids queried
1454 of 2356 tweet ids queried
1455 of 2356 tweet ids queried
1456 of 2356 tweet ids queried
1457 of 2356 tweet ids queried
1458 of 2356 tweet ids queried
1459 of 2356 tweet ids queried
1460 of 2356 tweet ids queried
1461 of 2356 tweet ids queried
1462 of 2356 tweet ids queried
1463 of 2356 tweet ids queried
1464 of 2356 tweet ids queried
1465 of 2356 tweet ids queried
1466 of 2356 tweet ids queried
1467 of 2356 tweet ids queried
1468 of 2356 tweet ids queried
1469 of 2356 tweet ids queried
1470 of 2356 tweet ids queried
1471 of 2356 tweet ids queried
1472 of 2356 tweet ids queried
1473 of 2356 tweet ids queried
1474 of 2356 tweet ids queried
1475 of 2356 tweet ids queried
1476 of 2356 tweet ids queried
1477 of 2356 tweet ids queried
1478 of 2356 tweet ids queried
1479 of 2356 tweet ids queried
1480 of 2356 tweet ids queried
1481 of 2356 tweet ids queried
1482 of 2356 tweet ids queried
1483 of 2356 tweet ids queried
1484 of 2356 tweet ids queried
1485 of 2356 tweet ids queried
1486 of 2356 tweet ids queried
1487 of 2356 tweet ids queried
1488 of 2356 tweet ids queried
1489 of 2356 tweet ids queried
1490 of 2356 tweet ids queried
1491 of 2356 tweet ids queried
1492 of 2356 tweet ids queried
1493 of 2356 tweet ids queried
1494 of 2356 tweet ids queried
1495 of 2356 tweet ids queried
1496 of 2356 tweet ids queried
1497 of 2356 tweet ids queried
1498 of 2356 tweet ids queried
1499 of 2356 tweet ids queried
1500 of 2356 tweet ids queried
1501 of 2356 tweet ids queried
1502 of 2356 tweet ids queried
1503 of 2356 tweet ids queried
1504 of 2356 tweet ids queried
1505 of 2356 tweet ids queried
1506 of 2356 tweet ids queried
1507 of 2356 tweet ids queried
1508 of 2356 tweet ids queried
1509 of 2356 tweet ids queried
1510 of 2356 tweet ids queried
1511 of 2356 tweet ids queried
1512 of 2356 tweet ids queried
1513 of 2356 tweet ids queried
1514 of 2356 tweet ids queried
1515 of 2356 tweet ids queried
1516 of 2356 tweet ids queried
1517 of 2356 tweet ids queried
1518 of 2356 tweet ids queried
1519 of 2356 tweet ids queried
1520 of 2356 tweet ids queried
1521 of 2356 tweet ids queried
1522 of 2356 tweet ids queried
1523 of 2356 tweet ids queried
1524 of 2356 tweet ids queried
1525 of 2356 tweet ids queried
1526 of 2356 tweet ids queried
1527 of 2356 tweet ids queried
1528 of 2356 tweet ids queried
1529 of 2356 tweet ids queried
1530 of 2356 tweet ids queried
1531 of 2356 tweet ids queried
1532 of 2356 tweet ids queried
1533 of 2356 tweet ids queried
1534 of 2356 tweet ids queried
1535 of 2356 tweet ids queried
1536 of 2356 tweet ids queried
1537 of 2356 tweet ids queried
1538 of 2356 tweet ids queried
1539 of 2356 tweet ids queried
1540 of 2356 tweet ids queried
1541 of 2356 tweet ids queried
1542 of 2356 tweet ids queried
1543 of 2356 tweet ids queried
1544 of 2356 tweet ids queried
1545 of 2356 tweet ids queried
1546 of 2356 tweet ids queried
1547 of 2356 tweet ids queried
1548 of 2356 tweet ids queried
1549 of 2356 tweet ids queried
1550 of 2356 tweet ids queried
1551 of 2356 tweet ids queried
1552 of 2356 tweet ids queried
1553 of 2356 tweet ids queried
1554 of 2356 tweet ids queried
1555 of 2356 tweet ids queried
1556 of 2356 tweet ids queried
1557 of 2356 tweet ids queried
1558 of 2356 tweet ids queried
1559 of 2356 tweet ids queried
1560 of 2356 tweet ids queried
1561 of 2356 tweet ids queried
1562 of 2356 tweet ids queried
1563 of 2356 tweet ids queried
1564 of 2356 tweet ids queried
1565 of 2356 tweet ids queried
1566 of 2356 tweet ids queried
1567 of 2356 tweet ids queried
1568 of 2356 tweet ids queried
1569 of 2356 tweet ids queried
1570 of 2356 tweet ids queried
1571 of 2356 tweet ids queried
1572 of 2356 tweet ids queried
1573 of 2356 tweet ids queried
1574 of 2356 tweet ids queried
1575 of 2356 tweet ids queried
1576 of 2356 tweet ids queried
1577 of 2356 tweet ids queried
1578 of 2356 tweet ids queried
1579 of 2356 tweet ids queried
1580 of 2356 tweet ids queried
1581 of 2356 tweet ids queried
1582 of 2356 tweet ids queried
1583 of 2356 tweet ids queried
1584 of 2356 tweet ids queried
1585 of 2356 tweet ids queried
1586 of 2356 tweet ids queried
1587 of 2356 tweet ids queried
1588 of 2356 tweet ids queried
1589 of 2356 tweet ids queried
1590 of 2356 tweet ids queried
1591 of 2356 tweet ids queried
1592 of 2356 tweet ids queried
1593 of 2356 tweet ids queried
1594 of 2356 tweet ids queried
1595 of 2356 tweet ids queried
1596 of 2356 tweet ids queried
1597 of 2356 tweet ids queried
1598 of 2356 tweet ids queried
1599 of 2356 tweet ids queried
1600 of 2356 tweet ids queried
1601 of 2356 tweet ids queried
1602 of 2356 tweet ids queried
1603 of 2356 tweet ids queried
1604 of 2356 tweet ids queried
1605 of 2356 tweet ids queried
1606 of 2356 tweet ids queried
1607 of 2356 tweet ids queried
1608 of 2356 tweet ids queried
1609 of 2356 tweet ids queried
1610 of 2356 tweet ids queried
1611 of 2356 tweet ids queried
1612 of 2356 tweet ids queried
1613 of 2356 tweet ids queried
1614 of 2356 tweet ids queried
1615 of 2356 tweet ids queried
1616 of 2356 tweet ids queried
1617 of 2356 tweet ids queried
1618 of 2356 tweet ids queried
1619 of 2356 tweet ids queried
1620 of 2356 tweet ids queried
1621 of 2356 tweet ids queried
1622 of 2356 tweet ids queried
1623 of 2356 tweet ids queried
1624 of 2356 tweet ids queried
1625 of 2356 tweet ids queried
1626 of 2356 tweet ids queried
1627 of 2356 tweet ids queried
1628 of 2356 tweet ids queried
1629 of 2356 tweet ids queried
1630 of 2356 tweet ids queried
1631 of 2356 tweet ids queried
1632 of 2356 tweet ids queried
1633 of 2356 tweet ids queried
1634 of 2356 tweet ids queried
1635 of 2356 tweet ids queried
1636 of 2356 tweet ids queried
1637 of 2356 tweet ids queried
1638 of 2356 tweet ids queried
1639 of 2356 tweet ids queried
1640 of 2356 tweet ids queried
1641 of 2356 tweet ids queried
1642 of 2356 tweet ids queried
1643 of 2356 tweet ids queried
1644 of 2356 tweet ids queried
1645 of 2356 tweet ids queried
1646 of 2356 tweet ids queried
1647 of 2356 tweet ids queried
1648 of 2356 tweet ids queried
1649 of 2356 tweet ids queried
1650 of 2356 tweet ids queried
1651 of 2356 tweet ids queried
1652 of 2356 tweet ids queried
1653 of 2356 tweet ids queried
1654 of 2356 tweet ids queried
1655 of 2356 tweet ids queried
1656 of 2356 tweet ids queried
1657 of 2356 tweet ids queried
1658 of 2356 tweet ids queried
1659 of 2356 tweet ids queried
1660 of 2356 tweet ids queried
1661 of 2356 tweet ids queried
1662 of 2356 tweet ids queried
1663 of 2356 tweet ids queried
1664 of 2356 tweet ids queried
1665 of 2356 tweet ids queried
1666 of 2356 tweet ids queried
1667 of 2356 tweet ids queried
1668 of 2356 tweet ids queried
1669 of 2356 tweet ids queried
1670 of 2356 tweet ids queried
1671 of 2356 tweet ids queried
1672 of 2356 tweet ids queried
1673 of 2356 tweet ids queried
1674 of 2356 tweet ids queried
1675 of 2356 tweet ids queried
1676 of 2356 tweet ids queried
1677 of 2356 tweet ids queried
1678 of 2356 tweet ids queried
1679 of 2356 tweet ids queried
1680 of 2356 tweet ids queried
1681 of 2356 tweet ids queried
1682 of 2356 tweet ids queried
1683 of 2356 tweet ids queried
1684 of 2356 tweet ids queried
1685 of 2356 tweet ids queried
1686 of 2356 tweet ids queried
1687 of 2356 tweet ids queried
1688 of 2356 tweet ids queried
1689 of 2356 tweet ids queried
1690 of 2356 tweet ids queried
1691 of 2356 tweet ids queried
1692 of 2356 tweet ids queried
1693 of 2356 tweet ids queried
1694 of 2356 tweet ids queried
1695 of 2356 tweet ids queried
1696 of 2356 tweet ids queried
1697 of 2356 tweet ids queried
1698 of 2356 tweet ids queried

1699 of 2356 tweet ids queried
1700 of 2356 tweet ids queried
1701 of 2356 tweet ids queried
1702 of 2356 tweet ids queried
1703 of 2356 tweet ids queried
1704 of 2356 tweet ids queried
1705 of 2356 tweet ids queried
1706 of 2356 tweet ids queried
1707 of 2356 tweet ids queried
1708 of 2356 tweet ids queried
1709 of 2356 tweet ids queried
1710 of 2356 tweet ids queried
1711 of 2356 tweet ids queried
1712 of 2356 tweet ids queried
1713 of 2356 tweet ids queried
1714 of 2356 tweet ids queried
1715 of 2356 tweet ids queried
1716 of 2356 tweet ids queried
1717 of 2356 tweet ids queried
1718 of 2356 tweet ids queried
1719 of 2356 tweet ids queried
1720 of 2356 tweet ids queried
1721 of 2356 tweet ids queried
1722 of 2356 tweet ids queried
1723 of 2356 tweet ids queried
1724 of 2356 tweet ids queried
1725 of 2356 tweet ids queried
1726 of 2356 tweet ids queried
1726 was not found
1728 of 2356 tweet ids queried
1729 of 2356 tweet ids queried
1730 of 2356 tweet ids queried
1731 of 2356 tweet ids queried
1732 of 2356 tweet ids queried
1733 of 2356 tweet ids queried
1734 of 2356 tweet ids queried
1735 of 2356 tweet ids queried
1736 of 2356 tweet ids queried
1737 of 2356 tweet ids queried
1738 of 2356 tweet ids queried
1739 of 2356 tweet ids queried
1740 of 2356 tweet ids queried
1741 of 2356 tweet ids queried
1742 of 2356 tweet ids queried
1743 of 2356 tweet ids queried
1744 of 2356 tweet ids queried
1745 of 2356 tweet ids queried
1746 of 2356 tweet ids queried
1747 of 2356 tweet ids queried
1748 of 2356 tweet ids queried
1749 of 2356 tweet ids queried
1750 of 2356 tweet ids queried
1751 of 2356 tweet ids queried
1752 of 2356 tweet ids queried
1753 of 2356 tweet ids queried
1754 of 2356 tweet ids queried
1755 of 2356 tweet ids queried
1756 of 2356 tweet ids queried
1757 of 2356 tweet ids queried
1758 of 2356 tweet ids queried
1759 of 2356 tweet ids queried
1760 of 2356 tweet ids queried
1761 of 2356 tweet ids queried
1762 of 2356 tweet ids queried
1763 of 2356 tweet ids queried
1764 of 2356 tweet ids queried
1765 of 2356 tweet ids queried
1766 of 2356 tweet ids queried
1767 of 2356 tweet ids queried
1768 of 2356 tweet ids queried
1769 of 2356 tweet ids queried
1770 of 2356 tweet ids queried
1771 of 2356 tweet ids queried
1772 of 2356 tweet ids queried
1773 of 2356 tweet ids queried
1774 of 2356 tweet ids queried
1775 of 2356 tweet ids queried
1776 of 2356 tweet ids queried
1777 of 2356 tweet ids queried
1778 of 2356 tweet ids queried
1779 of 2356 tweet ids queried
1780 of 2356 tweet ids queried
1781 of 2356 tweet ids queried
1782 of 2356 tweet ids queried
1783 of 2356 tweet ids queried
1784 of 2356 tweet ids queried
1785 of 2356 tweet ids queried
1786 of 2356 tweet ids queried
1787 of 2356 tweet ids queried
1788 of 2356 tweet ids queried
1789 of 2356 tweet ids queried
1790 of 2356 tweet ids queried
1791 of 2356 tweet ids queried
1792 of 2356 tweet ids queried
1793 of 2356 tweet ids queried
1794 of 2356 tweet ids queried
1795 of 2356 tweet ids queried
1796 of 2356 tweet ids queried
1797 of 2356 tweet ids queried
1798 of 2356 tweet ids queried
1799 of 2356 tweet ids queried
1800 of 2356 tweet ids queried

Rate limit reached. Sleeping for: 46

1801 of 2356 tweet ids queried
1802 of 2356 tweet ids queried
1803 of 2356 tweet ids queried
1804 of 2356 tweet ids queried
1805 of 2356 tweet ids queried
1806 of 2356 tweet ids queried
1807 of 2356 tweet ids queried
1808 of 2356 tweet ids queried
1809 of 2356 tweet ids queried
1810 of 2356 tweet ids queried
1811 of 2356 tweet ids queried
1812 of 2356 tweet ids queried
1813 of 2356 tweet ids queried
1814 of 2356 tweet ids queried
1815 of 2356 tweet ids queried
1816 of 2356 tweet ids queried
1817 of 2356 tweet ids queried
1818 of 2356 tweet ids queried
1819 of 2356 tweet ids queried
1820 of 2356 tweet ids queried
1821 of 2356 tweet ids queried
1822 of 2356 tweet ids queried
1823 of 2356 tweet ids queried
1824 of 2356 tweet ids queried
1825 of 2356 tweet ids queried
1826 of 2356 tweet ids queried
1827 of 2356 tweet ids queried
1828 of 2356 tweet ids queried
1829 of 2356 tweet ids queried
1830 of 2356 tweet ids queried
1831 of 2356 tweet ids queried
1832 of 2356 tweet ids queried
1833 of 2356 tweet ids queried
1834 of 2356 tweet ids queried
1835 of 2356 tweet ids queried
1836 of 2356 tweet ids queried
1837 of 2356 tweet ids queried
1838 of 2356 tweet ids queried
1839 of 2356 tweet ids queried
1840 of 2356 tweet ids queried
1841 of 2356 tweet ids queried
1842 of 2356 tweet ids queried
1843 of 2356 tweet ids queried
1844 of 2356 tweet ids queried
1845 of 2356 tweet ids queried
1846 of 2356 tweet ids queried
1847 of 2356 tweet ids queried
1848 of 2356 tweet ids queried
1849 of 2356 tweet ids queried
1850 of 2356 tweet ids queried
1851 of 2356 tweet ids queried
1852 of 2356 tweet ids queried
1853 of 2356 tweet ids queried
1854 of 2356 tweet ids queried
1855 of 2356 tweet ids queried
1856 of 2356 tweet ids queried
1857 of 2356 tweet ids queried
1858 of 2356 tweet ids queried
1859 of 2356 tweet ids queried
1860 of 2356 tweet ids queried
1861 of 2356 tweet ids queried
1862 of 2356 tweet ids queried
1863 of 2356 tweet ids queried
1864 of 2356 tweet ids queried
1865 of 2356 tweet ids queried
1866 of 2356 tweet ids queried
1867 of 2356 tweet ids queried
1868 of 2356 tweet ids queried
1869 of 2356 tweet ids queried
1870 of 2356 tweet ids queried
1871 of 2356 tweet ids queried
1872 of 2356 tweet ids queried
1873 of 2356 tweet ids queried
1874 of 2356 tweet ids queried
1875 of 2356 tweet ids queried
1876 of 2356 tweet ids queried
1877 of 2356 tweet ids queried
1878 of 2356 tweet ids queried
1879 of 2356 tweet ids queried
1880 of 2356 tweet ids queried
1881 of 2356 tweet ids queried
1882 of 2356 tweet ids queried
1883 of 2356 tweet ids queried
1884 of 2356 tweet ids queried
1885 of 2356 tweet ids queried
1886 of 2356 tweet ids queried
1887 of 2356 tweet ids queried
1888 of 2356 tweet ids queried
1889 of 2356 tweet ids queried
1890 of 2356 tweet ids queried
1891 of 2356 tweet ids queried
1892 of 2356 tweet ids queried
1893 of 2356 tweet ids queried
1894 of 2356 tweet ids queried
1895 of 2356 tweet ids queried
1896 of 2356 tweet ids queried
1897 of 2356 tweet ids queried
1898 of 2356 tweet ids queried
1899 of 2356 tweet ids queried
1900 of 2356 tweet ids queried
1901 of 2356 tweet ids queried
1902 of 2356 tweet ids queried
1903 of 2356 tweet ids queried
1904 of 2356 tweet ids queried
1905 of 2356 tweet ids queried
1906 of 2356 tweet ids queried
1907 of 2356 tweet ids queried
1908 of 2356 tweet ids queried
1909 of 2356 tweet ids queried
1910 of 2356 tweet ids queried
1911 of 2356 tweet ids queried
1912 of 2356 tweet ids queried
1913 of 2356 tweet ids queried
1914 of 2356 tweet ids queried
1915 of 2356 tweet ids queried
1916 of 2356 tweet ids queried
1917 of 2356 tweet ids queried
1918 of 2356 tweet ids queried
1919 of 2356 tweet ids queried
1920 of 2356 tweet ids queried
1921 of 2356 tweet ids queried
1922 of 2356 tweet ids queried
1923 of 2356 tweet ids queried
1924 of 2356 tweet ids queried
1925 of 2356 tweet ids queried
1926 of 2356 tweet ids queried
1927 of 2356 tweet ids queried
1928 of 2356 tweet ids queried
1929 of 2356 tweet ids queried
1930 of 2356 tweet ids queried
1931 of 2356 tweet ids queried
1932 of 2356 tweet ids queried
1933 of 2356 tweet ids queried
1934 of 2356 tweet ids queried
1935 of 2356 tweet ids queried
1936 of 2356 tweet ids queried
1937 of 2356 tweet ids queried
1938 of 2356 tweet ids queried
1939 of 2356 tweet ids queried
1940 of 2356 tweet ids queried
1941 of 2356 tweet ids queried
1942 of 2356 tweet ids queried
1943 of 2356 tweet ids queried
1944 of 2356 tweet ids queried
1945 of 2356 tweet ids queried
1946 of 2356 tweet ids queried
1947 of 2356 tweet ids queried
1948 of 2356 tweet ids queried
1949 of 2356 tweet ids queried
1950 of 2356 tweet ids queried
1951 of 2356 tweet ids queried
1952 of 2356 tweet ids queried
1953 of 2356 tweet ids queried
1954 of 2356 tweet ids queried
1955 of 2356 tweet ids queried
1956 of 2356 tweet ids queried
1957 of 2356 tweet ids queried
1958 of 2356 tweet ids queried
1959 of 2356 tweet ids queried
1960 of 2356 tweet ids queried
1961 of 2356 tweet ids queried
1962 of 2356 tweet ids queried
1963 of 2356 tweet ids queried
1964 of 2356 tweet ids queried
1965 of 2356 tweet ids queried
1966 of 2356 tweet ids queried
1967 of 2356 tweet ids queried
1968 of 2356 tweet ids queried
1969 of 2356 tweet ids queried
1970 of 2356 tweet ids queried
1971 of 2356 tweet ids queried
1972 of 2356 tweet ids queried
1973 of 2356 tweet ids queried
1974 of 2356 tweet ids queried
1975 of 2356 tweet ids queried
1976 of 2356 tweet ids queried
1977 of 2356 tweet ids queried
1978 of 2356 tweet ids queried
1979 of 2356 tweet ids queried
1980 of 2356 tweet ids queried
1981 of 2356 tweet ids queried
1982 of 2356 tweet ids queried
1983 of 2356 tweet ids queried
1984 of 2356 tweet ids queried
1985 of 2356 tweet ids queried
1986 of 2356 tweet ids queried
1987 of 2356 tweet ids queried
1988 of 2356 tweet ids queried
1989 of 2356 tweet ids queried
1990 of 2356 tweet ids queried
1991 of 2356 tweet ids queried
1992 of 2356 tweet ids queried
1993 of 2356 tweet ids queried
1994 of 2356 tweet ids queried
1995 of 2356 tweet ids queried
1996 of 2356 tweet ids queried
1997 of 2356 tweet ids queried
1998 of 2356 tweet ids queried
1999 of 2356 tweet ids queried
2000 of 2356 tweet ids queried
2001 of 2356 tweet ids queried
2002 of 2356 tweet ids queried
2003 of 2356 tweet ids queried
2004 of 2356 tweet ids queried
2005 of 2356 tweet ids queried
2006 of 2356 tweet ids queried
2007 of 2356 tweet ids queried
2008 of 2356 tweet ids queried
2009 of 2356 tweet ids queried
2010 of 2356 tweet ids queried
2011 of 2356 tweet ids queried
2012 of 2356 tweet ids queried
2013 of 2356 tweet ids queried
2014 of 2356 tweet ids queried
2015 of 2356 tweet ids queried
2016 of 2356 tweet ids queried
2017 of 2356 tweet ids queried
2018 of 2356 tweet ids queried
2019 of 2356 tweet ids queried
2020 of 2356 tweet ids queried
2021 of 2356 tweet ids queried
2022 of 2356 tweet ids queried
2023 of 2356 tweet ids queried
2024 of 2356 tweet ids queried
2025 of 2356 tweet ids queried
2026 of 2356 tweet ids queried
2027 of 2356 tweet ids queried
2028 of 2356 tweet ids queried
2029 of 2356 tweet ids queried
2030 of 2356 tweet ids queried
2031 of 2356 tweet ids queried
2032 of 2356 tweet ids queried
2033 of 2356 tweet ids queried
2034 of 2356 tweet ids queried
2035 of 2356 tweet ids queried
2036 of 2356 tweet ids queried
2037 of 2356 tweet ids queried
2038 of 2356 tweet ids queried
2039 of 2356 tweet ids queried
2040 of 2356 tweet ids queried
2041 of 2356 tweet ids queried
2042 of 2356 tweet ids queried
2043 of 2356 tweet ids queried
2044 of 2356 tweet ids queried
2045 of 2356 tweet ids queried
2046 of 2356 tweet ids queried
2047 of 2356 tweet ids queried
2048 of 2356 tweet ids queried
2049 of 2356 tweet ids queried
2050 of 2356 tweet ids queried
2051 of 2356 tweet ids queried
2052 of 2356 tweet ids queried
2053 of 2356 tweet ids queried
2054 of 2356 tweet ids queried
2055 of 2356 tweet ids queried
2056 of 2356 tweet ids queried
2057 of 2356 tweet ids queried
2058 of 2356 tweet ids queried
2059 of 2356 tweet ids queried
2060 of 2356 tweet ids queried
2061 of 2356 tweet ids queried
2062 of 2356 tweet ids queried
2063 of 2356 tweet ids queried
2064 of 2356 tweet ids queried
2065 of 2356 tweet ids queried

2066 of 2356 tweet ids queried
2067 of 2356 tweet ids queried
2068 of 2356 tweet ids queried
2069 of 2356 tweet ids queried
2070 of 2356 tweet ids queried
2071 of 2356 tweet ids queried
2072 of 2356 tweet ids queried
2073 of 2356 tweet ids queried
2074 of 2356 tweet ids queried
2075 of 2356 tweet ids queried
2076 of 2356 tweet ids queried
2077 of 2356 tweet ids queried
2078 of 2356 tweet ids queried
2079 of 2356 tweet ids queried
2080 of 2356 tweet ids queried
2081 of 2356 tweet ids queried
2082 of 2356 tweet ids queried
2083 of 2356 tweet ids queried
2084 of 2356 tweet ids queried
2085 of 2356 tweet ids queried
2086 of 2356 tweet ids queried
2087 of 2356 tweet ids queried
2088 of 2356 tweet ids queried
2089 of 2356 tweet ids queried
2090 of 2356 tweet ids queried
2091 of 2356 tweet ids queried
2092 of 2356 tweet ids queried
2093 of 2356 tweet ids queried
2094 of 2356 tweet ids queried
2095 of 2356 tweet ids queried
2096 of 2356 tweet ids queried
2097 of 2356 tweet ids queried
2098 of 2356 tweet ids queried
2099 of 2356 tweet ids queried
2100 of 2356 tweet ids queried
2101 of 2356 tweet ids queried
2102 of 2356 tweet ids queried
2103 of 2356 tweet ids queried
2104 of 2356 tweet ids queried
2105 of 2356 tweet ids queried
2106 of 2356 tweet ids queried
2107 of 2356 tweet ids queried
2108 of 2356 tweet ids queried
2109 of 2356 tweet ids queried
2110 of 2356 tweet ids queried
2111 of 2356 tweet ids queried
2112 of 2356 tweet ids queried
2113 of 2356 tweet ids queried
2114 of 2356 tweet ids queried
2115 of 2356 tweet ids queried
2116 of 2356 tweet ids queried
2117 of 2356 tweet ids queried
2118 of 2356 tweet ids queried
2119 of 2356 tweet ids queried
2120 of 2356 tweet ids queried
2121 of 2356 tweet ids queried
2122 of 2356 tweet ids queried
2123 of 2356 tweet ids queried
2124 of 2356 tweet ids queried
2125 of 2356 tweet ids queried
2126 of 2356 tweet ids queried
2127 of 2356 tweet ids queried
2128 of 2356 tweet ids queried
2129 of 2356 tweet ids queried
2130 of 2356 tweet ids queried
2131 of 2356 tweet ids queried
2132 of 2356 tweet ids queried
2133 of 2356 tweet ids queried
2134 of 2356 tweet ids queried
2135 of 2356 tweet ids queried
2136 of 2356 tweet ids queried
2137 of 2356 tweet ids queried
2138 of 2356 tweet ids queried
2139 of 2356 tweet ids queried
2140 of 2356 tweet ids queried
2141 of 2356 tweet ids queried
2142 of 2356 tweet ids queried
2143 of 2356 tweet ids queried
2144 of 2356 tweet ids queried
2145 of 2356 tweet ids queried
2146 of 2356 tweet ids queried
2147 of 2356 tweet ids queried
2148 of 2356 tweet ids queried
2149 of 2356 tweet ids queried
2150 of 2356 tweet ids queried
2151 of 2356 tweet ids queried
2152 of 2356 tweet ids queried
2153 of 2356 tweet ids queried
2154 of 2356 tweet ids queried
2155 of 2356 tweet ids queried
2156 of 2356 tweet ids queried
2157 of 2356 tweet ids queried
2158 of 2356 tweet ids queried
2159 of 2356 tweet ids queried
2160 of 2356 tweet ids queried
2161 of 2356 tweet ids queried
2162 of 2356 tweet ids queried
2163 of 2356 tweet ids queried
2164 of 2356 tweet ids queried
2165 of 2356 tweet ids queried
2166 of 2356 tweet ids queried
2167 of 2356 tweet ids queried
2168 of 2356 tweet ids queried
2169 of 2356 tweet ids queried
2170 of 2356 tweet ids queried
2171 of 2356 tweet ids queried
2172 of 2356 tweet ids queried
2173 of 2356 tweet ids queried
2174 of 2356 tweet ids queried
2175 of 2356 tweet ids queried
2176 of 2356 tweet ids queried
2177 of 2356 tweet ids queried
2178 of 2356 tweet ids queried
2179 of 2356 tweet ids queried
2180 of 2356 tweet ids queried
2181 of 2356 tweet ids queried
2182 of 2356 tweet ids queried
2183 of 2356 tweet ids queried
2184 of 2356 tweet ids queried
2185 of 2356 tweet ids queried
2186 of 2356 tweet ids queried
2187 of 2356 tweet ids queried
2188 of 2356 tweet ids queried
2189 of 2356 tweet ids queried
2190 of 2356 tweet ids queried
2191 of 2356 tweet ids queried
2192 of 2356 tweet ids queried
2193 of 2356 tweet ids queried
2194 of 2356 tweet ids queried
2195 of 2356 tweet ids queried
2196 of 2356 tweet ids queried
2197 of 2356 tweet ids queried
2198 of 2356 tweet ids queried
2199 of 2356 tweet ids queried
2200 of 2356 tweet ids queried
2201 of 2356 tweet ids queried
2202 of 2356 tweet ids queried
2203 of 2356 tweet ids queried
2204 of 2356 tweet ids queried
2205 of 2356 tweet ids queried
2206 of 2356 tweet ids queried
2207 of 2356 tweet ids queried
2208 of 2356 tweet ids queried
2209 of 2356 tweet ids queried
2210 of 2356 tweet ids queried
2211 of 2356 tweet ids queried
2212 of 2356 tweet ids queried
2213 of 2356 tweet ids queried
2214 of 2356 tweet ids queried
2215 of 2356 tweet ids queried
2216 of 2356 tweet ids queried
2217 of 2356 tweet ids queried
2218 of 2356 tweet ids queried
2219 of 2356 tweet ids queried
2220 of 2356 tweet ids queried
2221 of 2356 tweet ids queried
2222 of 2356 tweet ids queried
2223 of 2356 tweet ids queried
2224 of 2356 tweet ids queried
2225 of 2356 tweet ids queried
2226 of 2356 tweet ids queried
2227 of 2356 tweet ids queried
2228 of 2356 tweet ids queried
2229 of 2356 tweet ids queried
2230 of 2356 tweet ids queried
2231 of 2356 tweet ids queried
2232 of 2356 tweet ids queried
2233 of 2356 tweet ids queried
2234 of 2356 tweet ids queried
2235 of 2356 tweet ids queried
2236 of 2356 tweet ids queried
2237 of 2356 tweet ids queried
2238 of 2356 tweet ids queried
2239 of 2356 tweet ids queried
2240 of 2356 tweet ids queried
2241 of 2356 tweet ids queried
2242 of 2356 tweet ids queried
2243 of 2356 tweet ids queried
2244 of 2356 tweet ids queried
2245 of 2356 tweet ids queried
2246 of 2356 tweet ids queried
2247 of 2356 tweet ids queried
2248 of 2356 tweet ids queried
2249 of 2356 tweet ids queried
2250 of 2356 tweet ids queried
2251 of 2356 tweet ids queried
2252 of 2356 tweet ids queried
2253 of 2356 tweet ids queried
2254 of 2356 tweet ids queried
2255 of 2356 tweet ids queried
2256 of 2356 tweet ids queried
2257 of 2356 tweet ids queried
2258 of 2356 tweet ids queried
2259 of 2356 tweet ids queried
2260 of 2356 tweet ids queried
2261 of 2356 tweet ids queried
2262 of 2356 tweet ids queried
2263 of 2356 tweet ids queried
2264 of 2356 tweet ids queried
2265 of 2356 tweet ids queried
2266 of 2356 tweet ids queried
2267 of 2356 tweet ids queried
2268 of 2356 tweet ids queried
2269 of 2356 tweet ids queried
2270 of 2356 tweet ids queried
2271 of 2356 tweet ids queried
2272 of 2356 tweet ids queried
2273 of 2356 tweet ids queried
2274 of 2356 tweet ids queried
2275 of 2356 tweet ids queried
2276 of 2356 tweet ids queried
2277 of 2356 tweet ids queried
2278 of 2356 tweet ids queried
2279 of 2356 tweet ids queried
2280 of 2356 tweet ids queried
2281 of 2356 tweet ids queried
2282 of 2356 tweet ids queried
2283 of 2356 tweet ids queried
2284 of 2356 tweet ids queried
2285 of 2356 tweet ids queried
2286 of 2356 tweet ids queried
2287 of 2356 tweet ids queried
2288 of 2356 tweet ids queried
2289 of 2356 tweet ids queried
2290 of 2356 tweet ids queried
2291 of 2356 tweet ids queried
2292 of 2356 tweet ids queried
2293 of 2356 tweet ids queried
2294 of 2356 tweet ids queried
2295 of 2356 tweet ids queried
2296 of 2356 tweet ids queried
2297 of 2356 tweet ids queried
2298 of 2356 tweet ids queried
2299 of 2356 tweet ids queried
2300 of 2356 tweet ids queried
2301 of 2356 tweet ids queried
2302 of 2356 tweet ids queried
2303 of 2356 tweet ids queried
2304 of 2356 tweet ids queried
2305 of 2356 tweet ids queried
2306 of 2356 tweet ids queried
2307 of 2356 tweet ids queried
2308 of 2356 tweet ids queried
2309 of 2356 tweet ids queried
2310 of 2356 tweet ids queried
2311 of 2356 tweet ids queried
2312 of 2356 tweet ids queried
2313 of 2356 tweet ids queried
2314 of 2356 tweet ids queried
2315 of 2356 tweet ids queried
2316 of 2356 tweet ids queried
2317 of 2356 tweet ids queried
2318 of 2356 tweet ids queried
2319 of 2356 tweet ids queried
2320 of 2356 tweet ids queried
2321 of 2356 tweet ids queried
2322 of 2356 tweet ids queried
2323 of 2356 tweet ids queried
2324 of 2356 tweet ids queried
2325 of 2356 tweet ids queried
2326 of 2356 tweet ids queried
2327 of 2356 tweet ids queried
2328 of 2356 tweet ids queried
2329 of 2356 tweet ids queried
2330 of 2356 tweet ids queried

2331 of 2356 tweet ids queried
2332 of 2356 tweet ids queried
2333 of 2356 tweet ids queried
2334 of 2356 tweet ids queried
2335 of 2356 tweet ids queried
2336 of 2356 tweet ids queried
2337 of 2356 tweet ids queried
2338 of 2356 tweet ids queried
2339 of 2356 tweet ids queried
2340 of 2356 tweet ids queried
2341 of 2356 tweet ids queried
2342 of 2356 tweet ids queried
2343 of 2356 tweet ids queried
2344 of 2356 tweet ids queried
2345 of 2356 tweet ids queried
2346 of 2356 tweet ids queried
2347 of 2356 tweet ids queried
2348 of 2356 tweet ids queried
2349 of 2356 tweet ids queried
2350 of 2356 tweet ids queried
2351 of 2356 tweet ids queried
2352 of 2356 tweet ids queried
2353 of 2356 tweet ids queried
2354 of 2356 tweet ids queried
2355 of 2356 tweet ids queried
2356 of 2356 tweet ids queried
Total time elapsed:-2331.6993656158447

In [8]:
df_retweet = pd.read_csv('tweet_json.csv',sep=' ')
df_retweet.head()

                   id  retweet_count  favorite_count
0  892420643555336193           8213           37692
1  892177421306343426           6075           32377
2  891815181378084864           4017           24383
3  891689557279858688           8370           41011
4  891327558926688256           9075           39211

In [9]:
twitter_arch

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galpagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [10]:
twitter_arch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 220.9+ KB

### Data Wrangling

#### Data Quality Issues
1. *Lot of missing values in in_reply_to status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id and retweeted_status_timestamp columns.*
2. *Extra '+0000' in timestamp column.*
3. *Trim the 'source' column to make it more readable.*
4. *expanded_urls won't help in analysis as it does not contain any important information (except for tweet ids which are already in place)*
5. *Some errors while fetching 'rating_numerator' column values from 'text' column.*
6. *'rating_denominator' must have all values equal to 10.*
7. *Weird names in 'names' column.*
8. *Change the datat

#### Define
1. *Dropping columns in_reply_to status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id and retweeted_status_timestamp.*

In [3]:
twitter_arch_copy = twitter_arch.copy()
twitter_arch_copy.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

#### Code

In [4]:
#Dropping columns
twitter_arch_copy.drop(columns=['in_reply_to_status_id','in_reply_to_user_id','retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp'],inplace=True)

#### Test

In [5]:
twitter_arch_copy.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

#### Define
2. Trim '+0000' from timestamp column values

#### Code

In [6]:
twitter_arch_copy['timestamp'] = twitter_arch_copy['timestamp'].str[:-6]

#### Test

In [7]:
twitter_arch_copy.timestamp

0       2017-08-01 16:23:56
1       2017-08-01 00:17:27
2       2017-07-31 00:18:03
3       2017-07-30 15:58:51
4       2017-07-29 16:00:24
5       2017-07-29 00:08:17
6       2017-07-28 16:27:12
7       2017-07-28 00:22:40
8       2017-07-27 16:25:51
9       2017-07-26 15:59:51
10      2017-07-26 00:31:25
11      2017-07-25 16:11:53
12      2017-07-25 01:55:32
13      2017-07-25 00:10:02
14      2017-07-24 17:02:04
15      2017-07-24 00:19:32
16      2017-07-23 00:22:39
17      2017-07-22 16:56:37
18      2017-07-22 00:23:06
19      2017-07-21 01:02:36
20      2017-07-20 16:49:33
21      2017-07-19 16:06:48
22      2017-07-19 03:39:09
23      2017-07-19 00:47:34
24      2017-07-18 16:08:03
25      2017-07-18 00:07:08
26      2017-07-17 16:17:36
27      2017-07-16 23:58:41
28      2017-07-16 20:14:00
29      2017-07-15 23:25:31
               ...
2326    2015-11-17 00:24:19
2327    2015-11-17 00:06:54
2328    2015-11-16 23:23:41
2329    2015-11-16 21:54:18
2330    2015-11-16 21:10:36
2331    2015-11-16 20:32:58
2332    2015-11-16 20:01:42
2333    2015-11-16 19:31:45
2334    2015-11-16 16:37:02
2335    2015-11-16 16:11:11
2336    2015-11-16 15:14:19
2337    2015-11-16 14:57:41
2338    2015-11-16 04:02:55
2339    2015-11-16 03:55:04
2340    2015-11-16 03:44:34
2341    2015-11-16 03:22:39
2342    2015-11-16 02:38:37
2343    2015-11-16 01:59:36
2344    2015-11-16 01:52:02
2345    2015-11-16 01:22:45
2346    2015-11-16 01:01:59
2347    2015-11-16 00:55:59
2348    2015-11-16 00:49:46
2349    2015-11-16 00:35:11
2350    2015-11-16 00:30:50
2351    2015-11-16 00:24:50
2352    2015-11-16 00:04:52
2353    2015-11-15 23:21:54
2354    2015-11-15 23:05:30
2355    2015-11-15 22:32:08
Name: timestamp, Length: 2356, dtype: object

#### Define
3. Make 'source' column more readable

#### Code

In [8]:
for src in range(len(twitter_arch_copy.source)):
    twitter_arch_copy['source'][src] = twitter_arch_copy['source'][src].split('>')[1][:-3]

H:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

#### Test

In [9]:
twitter_arch_copy.source.value_counts()

Twitter for iPhone     2221
Vine - Make a Scene      91
Twitter Web Client       33
TweetDeck                11
Name: source, dtype: int64

In [10]:
twitter_arch_copy.source.values

array(['Twitter for iPhone', 'Twitter for iPhone', 'Twitter for iPhone',
       ..., 'Twitter for iPhone', 'Twitter for iPhone',
       'Twitter for iPhone'], dtype=object)

#### Define
5. Dropping expanded_urls column

#### Code

In [11]:
twitter_arch_copy.drop(columns=['expanded_urls'],inplace=True)

#### Test

In [12]:
twitter_arch_copy.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

#### Define
5. Fix rating_numerator column values

#### Code

In [13]:
import re
rating_num_idx = []
rating_num_idx_2 = []
for idx in range(len(twitter_arch_copy)):
    txt=twitter_arch_copy.iloc[idx].text
    text = re.findall(r'[0-9]+/10+',txt)
    if(len(text) == 1):
        value = text[0].split('/')[0]
        twitter_arch_copy.iloc[idx].rating_numerator = int(value)
    elif(len(text) < 1):
        rating_num_idx.append(idx)
    else:
        rating_num_idx_2.append(idx)

H:\anaconda\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [14]:
#rating_num_idx contains indixes of the format a/b and rating_num_idx_2 contains all indices where text contains more than one value of the format x/10.
len(rating_num_idx),len(rating_num_idx_2)

(16, 26)

In [15]:
for i in rating_num_idx:
    print(i,twitter_arch_copy.iloc[i].text)

342 @docmisterio account started on 11/15/15
433 The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd
516 Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer.
Keep Sam smiling by clicking and sharing this link:
https://t.co/98tB8y7y7t https://t.co/LouL5vdvxx
902 Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE
1120 Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv
1228 Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1
1254 Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12
1274 From left to right:
Cletus, Jerome, Alejandro, Burp, &amp; Titson
None know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK
1351 Here is a whole flock of puppers.  60/50 I'll take the lot https://t.co/9dpcw6MdWa
1433 Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ
1598 Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating
1634 Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3
1635 Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55
1663 I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible
1779 IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq
1843 Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw

In [16]:
#There are 16 entries where rating is given incorrectly i.e. of not the format set by WeRateDogs, hence dropping these rows.
twitter_arch_copy.drop(rating_num_idx,inplace=True)

In [17]:
#New shape of the twitter_arch_copy dataframe
twitter_arch_copy.shape

(2340, 11)

In [18]:
#Since rows were dropped in previous cell, indices are reset; hence gathering all indices where more than one rating is given.
import re
rating_num_idx_2 = []
for idx in range(len(twitter_arch_copy)):
    txt=twitter_arch_copy.iloc[idx].text
    text = re.findall(r'[0-9]+/10+',txt)
    if(len(text) > 1):
        rating_num_idx_2.append(idx)

In [19]:
len(rating_num_idx_2)

26

In [20]:
for i in rating_num_idx_2:
    print(i,twitter_arch_copy.iloc[i].text)

55 @roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s
558 RT @dog_rates: "Yep... just as I suspected. You're not flossing." 12/10 and 11/10 for the pup not flossing https://t.co/SuXcI9B7pQ
763 "Yep... just as I suspected. You're not flossing." 12/10 and 11/10 for the pup not flossing https://t.co/SuXcI9B7pQ
857 RT @dog_rates: Meet Eve. She's a raging alcoholic 8/10 (would b 11/10 but pupper alcoholism is a tragic issue that I can't condone) https:/
1003 This is Bookstore and Seaweed. Bookstore is tired and Seaweed is an asshole. 10/10 and 7/10 respectively https://t.co/eUGjGjjFVJ
1217 Meet Travis and Flurp. Travis is pretty chill but Flurp can't lie down properly. 10/10 &amp; 8/10
get it together Flurp https://t.co/Akzl5ynMmE
1350 This is Socks. That water pup w the super legs just splashed him. Socks did not appreciate that. 9/10 and 2/10 https://t.co/8rc5I22bBf
1449 This may be the greatest video I've ever been sent. 4/10 for Charles the puppy, 13/10 overall. (Vid by @stevenxx_) https://t.co/uaJmNgXR2P
1455 Meet Olivir. He takes killer selfies. Has a dog of his own. It leaps at random &amp; can't bark for shit. 10/10 &amp; 5/10 https://t.co/6NgsQJuSBJ
1498 When bae says they can't go out but you see them with someone else that same night. 5/10 &amp; 10/10 for heartbroken pup https://t.co/aenk0KpoWM
1515 This is Eriq. His friend just reminded him of last year's super bowl. Not cool friend
10/10 for Eriq
6/10 for friend https://t.co/PlEXTofdpf
1528 Meet Fynn &amp; Taco. Fynn is an all-powerful leaf lord and Taco is in the wrong place at the wrong time. 11/10 &amp; 10/10 https://t.co/MuqHPvtL8c
1780 Meet Tassy &amp; Bee. Tassy is pretty chill, but Bee is convinced the Ruffles are haunted. 10/10 &amp; 11/10 respectively https://t.co/fgORpmTN9C
1817 These two pups just met and have instantly bonded. Spectacular scene. Mesmerizing af. 10/10 and 7/10 for blue dog https://t.co/gwryaJO4tC
1881 Meet Rufio. He is unaware of the pink legless pupper wrapped around him. Might want to get that checked 10/10 &amp; 4/10 https://t.co/KNfLnYPmYh
1885 Two gorgeous dogs here. Little waddling dog is a rebel. Refuses to look at camera. Must be a preteen. 5/10 &amp; 8/10 https://t.co/YPfw7oahbD
1954 Meet Eve. She's a raging alcoholic 8/10 (would b 11/10 but pupper alcoholism is a tragic issue that I can't condone) https://t.co/U36HYQIijg
1994 10/10 for dog. 7/10 for cat. 12/10 for human. Much skill. Would pet all https://t.co/uhx5gfpx5k
2048 Meet Holly. She's trying to teach small human-like pup about blocks but he's not paying attention smh. 11/10 &amp; 8/10 https://t.co/RcksaUrGNu
2097 Meet Hank and Sully. Hank is very proud of the pumpkin they found and Sully doesn't give a shit. 11/10 and 8/10 https://t.co/cwoP1ftbrj
2161 Here we have Pancho and Peaches. Pancho is a Condoleezza Gryffindor, and Peaches is just an asshole. 10/10 &amp; 7/10 https://t.co/Lh1BsJrWPp
2200 This is Spark. He's nervous. Other dog hasn't moved in a while. Won't come when called. Doesn't fetch well 8/10&amp;1/10 https://t.co/stEodX9Aba
2247 This is Kial. Kial is either wearing a cape, which would be rad, or flashing us, which would be rude. 10/10 or 4/10 https://t.co/8zcwIoiuqR
2256 Two dogs in this one. Both are rare Jujitsu Pythagoreans. One slightly whiter than other. Long legs. 7/10 and 8/10 https://t.co/ITxxcc4v9y
2282 After much debate this dog is being upgraded to 10/10. I repeat 10/10
2290 These are Peruvian Feldspars. Their names are Cupit and Prencer. Both resemble Rand Paul. Sick outfits 10/10 &amp; 10/10 https://t.co/ZnEMHBsAs1

In [21]:
#From the text above, storing indices in second_rating where second rating is the correct rating given
second_rating = [55,558,763,1498,1885,2256]

In [22]:
for i in rating_num_idx_2:
    if i in second_rating:
        txt = twitter_arch_copy.iloc[i].text
        text = re.findall(r'[0-9]+/10+',txt)
        text = text[1].split('/')[0]
        twitter_arch_copy.iloc[i].rating_numerator = int(text)
    else:
        txt = twitter_arch_copy.iloc[i].text
        text = re.findall(r'[0-9]+/10+',txt)
        text = text[0].split('/')[0]
        twitter_arch_copy.iloc[i].rating_numerator = int(text)

H:\anaconda\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [24]:
#Now the dataframe contains some really huge values, replacing them with NaN first and then with the average numerator value.
twitter_arch_copy.rating_numerator.replace([75,420,50,26,182,27,960,1776,666],np.NaN,inplace=True)

In [29]:
numerator_mean = int(twitter_arch_copy.rating_numerator.mean())

In [31]:
twitter_arch_copy.rating_numerator.fillna(numerator_mean,inplace=True)

In [36]:
twitter_arch_copy.rating_numerator.isna().sum()

0

In [44]:
#Convert rating_numerator to integer values
twitter_arch_copy.rating_numerator = twitter_arch_copy.rating_numerator.astype(int)

**Test**

In [45]:
twitter_arch_copy.rating_numerator.value_counts()

12    558
10    472
11    463
13    351
9     158
8     102
7      55
14     54
5      37
6      32
3      19
4      16
1       9
2       9
0       2
15      2
17      1
Name: rating_numerator, dtype: int64

**Define**
6. Set all rating_denominator values to 10

**Code**

In [47]:
twitter_arch_copy.rating_denominator = 10

**Test**

In [48]:
twitter_arch_copy.rating_denominator.value_counts()

10    2340
Name: rating_denominator, dtype: int64

**Define**
7. Fix name column values

**Code**

In [83]:
twitter_arch_copy.name.value_counts()

None          732
a              54
Charlie        12
Oliver         11
Lucy           11
Cooper         11
Penny          10
Tucker         10
Lola           10
Winston         9
Bo              9
Sadie           8
the             8
Buddy           7
an              7
Bailey          7
Daisy           7
Toby            7
Dave            6
Stanley         6
Leo             6
Oscar           6
Bella           6
Jax             6
Rusty           6
Milo            6
Scout           6
Jack            6
Koda            6
Larry           5
             ...
Thor            1
Snoopy          1
Tater           1
Nimbus          1
Gert            1
Reptar          1
Terrenth        1
Nigel           1
Tassy           1
Sweets          1
Longfellow      1
Travis          1
Obie            1
Theo            1
Dylan           1
Dug             1
Millie          1
Carter          1
Dex             1
Daniel          1
Darby           1
Stephanus       1
Maks            1
Marty           1
Jett            1
Brady           1
Kaiya           1
Vince           1
Vinscent        1
Christoper      1
Name: name, Length: 956, dtype: int64

In [84]:
twitter_arch_copy.name.replace(['a','an'],None,inplace=True)

**Test**

In [85]:
twitter_arch_copy.name.value_counts()

None          757
Oliver         13
Charlie        12
the            12
Lucy           11
Cooper         11
Tucker         10
Lola           10
Penny          10
Bo              9
Winston         9
Daisy           8
Sadie           8
Bailey          7
Buddy           7
Toby            7
Stanley         6
Oscar           6
Leo             6
Milo            6
Scout           6
Jax             6
Dave            6
Bella           6
Koda            6
Jack            6
Rusty           6
Oakley          5
George          5
Phil            5
             ...
Gert            1
Kirk            1
Humphrey        1
Boston          1
Rilo            1
Clyde           1
Shooter         1
Jo              1
Maks            1
Theo            1
Dylan           1
Dug             1
Millie          1
Carter          1
Tassy           1
Dex             1
Darby           1
Stephanus       1
Marty           1
Suki            1
Jett            1
Brady           1
Kaiya           1
Vince           1
Vinscent        1
Daniel          1
Nigel           1
Terrenth        1
Reptar          1
Christoper      1
Name: name, Length: 954, dtype: int64

In [86]:
twitter_arch_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2340 entries, 0 to 2355
Data columns (total 11 columns):
tweet_id              2340 non-null int64
timestamp             2340 non-null object
source                2340 non-null object
text                  2340 non-null object
rating_numerator      2340 non-null int32
rating_denominator    2340 non-null int64
name                  2340 non-null object
doggo                 2340 non-null object
floofer               2340 non-null object
pupper                2340 non-null object
puppo                 2340 non-null object
dtypes: int32(1), int64(2), object(8)
memory usage: 137.1+ KB

In [89]:
twitter_arch_copy.timestamp = pd.to_datetime(twitter_arch_copy.timestamp)

In [91]:
twitter_arch_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2340 entries, 0 to 2355
Data columns (total 11 columns):
tweet_id              2340 non-null int64
timestamp             2340 non-null datetime64[ns]
source                2340 non-null object
text                  2340 non-null object
rating_numerator      2340 non-null int32
rating_denominator    2340 non-null int64
name                  2340 non-null object
doggo                 2340 non-null object
floofer               2340 non-null object
pupper                2340 non-null object
puppo                 2340 non-null object
dtypes: datetime64[ns](1), int32(1), int64(2), object(7)
memory usage: 146.2+ KB